@import '../../../01-settings/variables';

$imgMaxWidth: 263px;

.sc-article {
  display: flex;
  flex-direction: column;
  order: 2;
  background-color: $white;
  
  @include mqmin($viewportM) {
    flex-direction: row;
  }
}

.sc-article__pic {
  margin-bottom: $L;

  img {
    width: 100%;
  }

  @include mqmin($viewportM) {
    flex-basis: $imgMaxWidth;
    margin-right: $L;
    margin-bottom: 0;
  }

  @include mqmin($viewportL) {
    flex: 0 0 $imgMaxWidth;
  }
}

.sc-article__content {
  @include mqmin($viewportM) {
    flex: 1 1 449px;
  }
}

.sc-article__category {
  color: $color-highlight-info;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: $S;
}

/* hightlight */
.sc-article--highlighted {
  flex-direction: column;
  order: 1;

  .sc-article__pic {
    flex-basis: auto;
    margin-bottom: $XL;
    margin-right: 0;
  }

  .sc-article__content {
    flex-basis: auto;
  }

  .sc-article__category {
    color: $white;
    font-weight: normal;
    background: $body-dark-sky-blue;
    padding: 2px $S;
  }
}

/* articles list */
.sc-articles {
  display: flex;
  flex-direction: column;
  background-color: $white;

  .sc-article {
    border-bottom: 1px solid $black-30;
    padding-bottom: $XXL;
  }

  .sc-article:not(:last-child) {
    margin-bottom: $XXL;
  }

  @include mqmin($viewportM) {
    .sc-article {
      padding-bottom: $XXXL;
    }
    
    .sc-article:not(:last-child) {
      margin-bottom: $XXXL;
    }
  }
}