@import '../../../01-settings/variables';

$customViewport: 500px;

.sc-article {
  min-height: 148px;
  display: flex;
  flex-direction: column;
  order: 2;
  
  @include mqmin($customViewport) {
    flex-direction: row;
  }
}

.sc-article__title {
  font-size: $L;
  font-weight: bold;
  padding-bottom: $XS;
}

.sc-article__pic {
  margin-bottom: $S;
  flex-basis: 50%;

  img {
    width: 100%;
  }

  @include mqmin($customViewport) {
    max-width: 263px;
    margin-right: $L;
    margin-bottom: 0;
  }

  @include mqmin($viewportM) {
    flex-basis: auto;
    min-width: 263px;
  }
}

.sc-article__content {
  flex-basis: 50%;

  @include mqmin($viewportM) {
    flex-basis: auto;
  }
}

.sc-article__category {
  color: $color-highlight-info;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
}

/* hightlight */
.sc-article--highlighted {
  flex-direction: column;
  order: 1;

  @include mqmin($customViewport) {
    .sc-article__title {
      font-size: $XL;
    }
  }

  .sc-article__pic {
    max-width: none;
    flex-basis: auto;
    margin-bottom: $XL;
    margin-right: 0;
  }

  .sc-article__category {
    color: $white;
    font-weight: normal;
    background: $body-dark-sky-blue;
    padding: 2px $S;
    margin-bottom: $XS;
  }
}

/* articles list */
.sc-articles {
  display: flex;
  flex-direction: column;

  .sc-article {
    border-bottom: 1px solid $black-30;
    padding-bottom: $XXL;
    margin-bottom: $XXL;
  }
}