@import '../node_modules/susy/sass/susy';
@import '../01-settings/variables';
@import '../02-sass-tools/sass-mq';
@import '../07-utilities/utils';

.sc-content-container {
  position: relative;
  overflow-x: hidden;
  box-sizing: content-box;
}

.sc-grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;

  @for $i from 1 through 12 {
    .sc-grid-col-#{$i} {
      grid-column: span $i;
    }
  }

  //xl viewport
  @include mqmin($viewportXL) {
    @for $i from 1 through 12 {
      .sc-grid-col-xl-#{$i} {
        grid-column: span $i;
      }
    }
  }

  //l viewport
  @include mqmax($viewportXL - 1) {
    @for $i from 1 through 12 {
      .sc-grid-col-l-#{$i} {
        grid-column: span $i;
      }
    }
  }

  //m viewport
  @include mqmax($viewportL - 1) {
    @for $i from 1 through 12 {
      .sc-grid-col-m-#{$i} {
        grid-column: span $i;
      }
    }
  }

  //s viewport
  @include mqmax($viewportM - 1) {
    @for $i from 1 through 12 {
      .sc-grid-col-s-#{$i} {
        grid-column: span $i;
      }
    }
  }

  //xs viewport
  @include mqmax($viewportS - 1) {
    @for $i from 1 through 12 {
      .sc-grid-col-xs-#{$i} {
        grid-column: span $i;
      }
    }
  }
}