@import '../../../01-settings/variables';

.sc-benefit {
  padding-bottom: $XXXL;

  @include mqmin($viewportM) {
    padding-bottom: $XXXXL;
  }
}

.sc-benefit__image {
  margin-bottom: $L;
}

.sc-benefit__title {
  padding-bottom: $S;
}

.sc-benefit__subtitle {
  padding-bottom: $S;
}

.sc-benefit__text {
  padding-bottom: $XXL;
}
