.idea
.DS_Store
*.iml
node_modules
vendor
bower_components
.bundle
atlassian-ide-plugin.xml
.gitignore.swp
tests/errorShots
*.log
public
backstop_data
backstop.json
.sass-cache
.vscode
.tmp
dist/temp

docs/index.html
docs/globalJSON.json
galen-report
