.idea
.DS_Store
*.iml
node_modules
vendor
bower_components
.bundle
atlassian-ide-plugin.xml
.gitignore.swp
tests/errorShots
dist
.DS_Store
npm-debug.log*
public
backstop_data
css_regression_test_config.json