@import "../variables";
@import "../mixins/utils";

.sc-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sc-card {
  display: flex;
  flex-direction: column;
  border: solid 1px $black-30;
  border-radius: $S;
  margin: $XS;
  width: 46%;

  @include mqmin($viewportS) {
    width: 170px;
  }

  &__media {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $black-20;
  }

  &__content {
    padding: $M;
  }

}