@import "../../scss/utils";
@import "../variables";
@import "../links";
@import "../mixins/rotating-arrow";

@mixin invisible {
  opacity: 1;
  transform: translateY(0);
}

@mixin visible {
  opacity: 1;
  transform: translateY(-100%);
}

.sc-spy-navigation {

  $nav: &;

  border-bottom: solid 1px $black-30;

  &--expanded {

    #{$nav}__links {
      height: auto;
    }

    #{$nav}__link {
      position: static;
      @include invisible;
      &:first-child {
        position: static;
        @include invisible;
      }
    }

    #{$nav}__toggle {
      &:after {
        @include rotating-arrow('up');
      }
    }

  }

  &--sticked {
    width: 100%;
    max-width: $viewportXL;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 21;
    box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.15);
  }

  &__wrapper {
    display: flex;
    padding: $XS;

    @include mqmin($viewportM) {
      padding: 0;
    }
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    padding: $S $L;

    &:after {
      @include rotating-arrow('down');
    }

    @include mqmin($viewportM) {
      display: none;
    }

  }

  &__links {
    flex: 1;
    position: relative;
    height: 38px;
    overflow: hidden;

    @include mqmin($viewportM) {
      height: auto;
    }
  }

  &__link {
    @include link(M, $variant: black);
    display: block;
    padding: $S $L;
    position: absolute;
    background: white;
    width: 100%;
    top: 100%;
    opacity: 0;

    &:first-child {
      @include visible;
    }

    @include mqmin($viewportM) {
      @include invisible;
      display: inline-block;
      padding-top: $L;
      padding-right: $L;
      padding-bottom: $M;
      padding-left: $L;
      position: static;
      width: auto;
      &:first-child {
        @include invisible;
      }
    }

    &--active {
      color: $orange-100;
      z-index: 1;
      @include visible;

      &:first-child {
        @include visible;
      }

      @include mqmin($viewportM) {
        border-bottom: 3px solid $orange-100;
      }
    }
  }

}