---
title: Components
nav-index: 11
sub-nav:
- Spy Navigation
- Card
- Expandable Box
- Collapse
- Breadcrumbs
- Custom Dropdown
- Sticky Element
- Rotating Arrow
- Navigation
- Pagination
- Notifications
- Scrolling
---
<div>
    <a name="components"></a>
    <h2>Components</h2>


    <a name="spy-navigation"></a>
    <h3>Spy Navigation</h3>
    <div class="example example-collapse">
        <div id="page-subnav-stick"></div>
        <div class="sc-spy-navigation" data-stick-when="#page-subnav-stick">
            <div class="sc-grid-row">
                <div class="sc-grid-col-12">
                    <div class="sc-spy-navigation__wrapper">
                        <nav class="sc-spy-navigation__links">
                            <a class="sc-spy-navigation__link" href="#" data-href="section-1">Sectino 1</a>
                            <a class="sc-spy-navigation__link" href="#" data-href="section-2">Sectino 2</a>
                            <a class="sc-spy-navigation__link" href="#" data-href="section-3">Sectino 3</a>
                            <a class="sc-spy-navigation__link" href="#" data-href="section-4">Sectino 4</a>
                        </nav>
                        <div class="sc-spy-navigation__toggle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pre><code class="html js-format-code">
<!--
<div id="page-subnav-stick"></div>
<div class="sc-spy-navigation" data-stick-when="#page-subnav-stick">
    <div class="sc-grid-row">
        <div class="sc-grid-col-12">
            Any content here...
            <div class="sc-spy-navigation__wrapper">
                <nav class="sc-spy-navigation__links">
                    <a class="sc-spy-navigation__link" href="#" data-href="section-1">Sectino 1</a>
                    <a class="sc-spy-navigation__link" href="#" data-href="section-2">Sectino 2</a>
                    <a class="sc-spy-navigation__link" href="#" data-href="section-3">Sectino 3</a>
                    <a class="sc-spy-navigation__link" href="#" data-href="section-4">Sectino 4</a>
                </nav>
                <div class="sc-spy-navigation__toggle"></div>
            </div>
        </div>
    </div>
</div>
-->
    </code></pre>

    <p>This component have to be initialized with an object with two functions:</p>
    <pre><code class="js js-format-code">
<!--

showcar.spyNavigation({
    stickPosFn: function(scrollTop, stickToElem, componentElem) {
        // scrollTop - amount of window scroll
        // stickToElem - in the example, #data-stick-when
        // componentElem - in the example, .sc-spy-navigation
        // Do your calculations, return Boolean
    },
    unstickPosFn: function(scrollTop, stickToElem, componentElem) {
        // scrollTop - amount of window scroll
        // stickToElem - in the example, #data-stick-when
        // componentElem - in the example, .sc-spy-navigation
        // Do your calculations, return Boolean
    },
});
-->
    </code></pre>

    <p>Each function takes 3 arguments:</p>
    <ul>
        <li><code>scrollTop</code> - scroll amount</li>
        <li><code>stickToElem</code> - the element to which the navigation should stick to</li>
        <li><code>componentElem</code> - the component element (the one with the root class ".sc-spy-navigation")</li>
    </ul>

    <a name="card"></a>

    <h3>Card</h3>

    <h4>Plain card Example</h4>
    <div class="example example-collapse">
        <div class="sc-grid-row">
            <div class="sc-grid-col-2"></div>
            <div class="sc-grid-col-8">
                <div class="sc-cards">
                    <div class="sc-card">
                        <div class="sc-card__media">
                            <img src="http://placehold.it/170x130?text=170x130">
                        </div>
                        <div class="sc-card__content sc-text-center">
                            <a href="#">Show more</a>
                        </div>
                    </div>
                    <div class="sc-card">
                        <div class="sc-card__media">
                            <img src="http://placehold.it/170x130?text=170x130">
                        </div>
                        <div class="sc-card__content sc-text-center">
                            <a href="#">Show more</a>
                        </div>
                    </div>
                    <div class="sc-card">
                        <div class="sc-card__media">
                            <img src="http://placehold.it/170x130?text=170x130">
                        </div>
                        <div class="sc-card__content sc-text-center">
                            <a href="#">Show more</a>
                        </div>
                    </div>
                    <div class="sc-card">
                        <div class="sc-card__media">
                            <img src="http://placehold.it/170x130?text=170x130">
                        </div>
                        <div class="sc-card__content sc-text-center">
                            <a href="#">Show more</a>
                        </div>
                    </div>
                    <div class="sc-card">
                        <div class="sc-card__media">
                            <img src="http://placehold.it/170x130?text=170x130">
                        </div>
                        <div class="sc-card__content sc-text-center">
                            <a href="#">Show more</a>
                        </div>
                    </div>
                    <div class="sc-card">
                        <div class="sc-card__media">
                            <img src="http://placehold.it/340x130?text=340x130">
                        </div>
                        <div class="sc-card__content sc-text-center">
                            <a href="#">Show more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc-grid-col-2"></div>
        </div>
    </div>

    <h4>Advanced Card Example</h4>
    <div class="example example-collapse">
        <div class="sc-grid-row">
            <div class="sc-grid-col-2"></div>
            <div class="sc-grid-col-8">
                <div class="sc-cards">
                    <div class="sc-card">
                        <div class="sc-card__media">
                            <img src="http://placehold.it/170x130?text=170x130">
                        </div>
                        <div class="sc-card__content">
                            <ul>
                                <li><as24-icon style="width:16px;height:16px;margin-right:16px;" type="flag/de"></as24-icon> Item 1</li>
                                <li><as24-icon style="width:16px;height:16px;margin-right:16px;" type="flag/it"></as24-icon> Item 2</li>
                                <li><as24-icon style="width:16px;height:16px;margin-right:16px;" type="flag/nl"></as24-icon> Item 3</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sc-card">
                        <div class="sc-card__media">
                            <img src="http://placehold.it/170x130?text=170x130">
                        </div>
                        <div class="sc-card__content">
                            <ul>
                                <li><as24-icon style="width:16px;height:16px;margin-right:16px;" type="flag/de"></as24-icon> Item 1</li>
                                <li><as24-icon style="width:16px;height:16px;margin-right:16px;" type="flag/it"></as24-icon> Item 2</li>
                                <li><as24-icon style="width:16px;height:16px;margin-right:16px;" type="flag/nl"></as24-icon> Item 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc-grid-col-2"></div>
        </div>
    </div>

    <pre><code class="html js-format-code">
<!--
<div class="sc-cards">
    ...
    <div class="sc-card">
        <div class="sc-card__media">
            <img src="http://placehold.it/170x130?text=170x130">
        </div>
        <div class="sc-card__content">
            <ul>
                <li><as24-icon style="..." type="flag/de"></as24-icon> Item 1</li>
                <li><as24-icon style="..." type="flag/de"></as24-icon> Item 2</li>
                <li><as24-icon style="..." type="flag/de"></as24-icon> Item 3</li>
            </ul>
        </div>
    </div>
    ...
</div>
-->
    </code></pre>


    <a name="expandable-box"></a>
    <h3>Expandable Box</h3>

    <p>
        This component is CSS-only implementation. Thus, you have to follow the markup structure. In other words,
        it is important to keep class structure like it is shown in the examples.
    </p>

    <p>
        <em>Note: </em>You can spot H3 and H5 tags being used here. You can use any element according to the
        requirements as long as you have ".sc-expandable-box__title" class in place.
    </p>

    <h4>Regular Exandible box</h4>
    <div class="example example-collapse">
        <div class="sc-expandable-box">
            <input id="exb1" type="checkbox" class="sc-expandable-box__toggle">
            <h3 class="sc-font sc-expandable-box__title"><label for="exb1" class="sc-expandable-box__label">Box #1 title</label></h3>
            <div class="sc-expandable-box__content">
                Lorem ipsum...
            </div>
        </div>

        <div class="sc-expandable-box sc-expandable-box--opened">
            <input id="exb2" type="checkbox" class="sc-expandable-box__toggle">
            <h5 class="sc-font sc-expandable-box__title"><label for="exb2" class="sc-expandable-box__label">Box #2 title</label></h5>
            <div class="sc-expandable-box__content">
                Lorem ipsum...
            </div>
        </div>
    </div>

    <pre><code class="html js-format-code">
<!--
<div class="sc-expandable-box">
    <input id="exb1" type="checkbox" class="sc-expandable-box__toggle">
    <h3 class="sc-font sc-expandable-box__title">
        <label for="exb1" class="sc-expandable-box__label">Box #1 title</label>
    </h3>
    <div class="sc-expandable-box__content">
        Lorem ipsum...
    </div>
</div>

<div class="sc-expandable-box sc-expandable-box--opened">
    <input id="exb2" type="checkbox" class="sc-expandable-box__toggle">
    <h3 class="sc-font sc-expandable-box__title">
        <label for="exb2" class="sc-expandable-box__label">Box #2 title</label>
    </h3>
    <div class="sc-expandable-box__content">
        Lorem ipsum...
    </div>
</div>
-->
    </code></pre>


    <h4>Adaptive Exandible box</h4>
    <div class="example example-collapse">
        <div class="sc-expandable-box sc-expandable-box--adaptive">
            <input id="exb3" type="checkbox" class="sc-expandable-box__toggle">
            <h3 class="sc-font sc-expandable-box__title"><label for="exb3" class="sc-expandable-box__label">Box #1 title</label></h3>
            <div class="sc-expandable-box__content">
                Lorem ipsum...
            </div>
        </div>

        <div class="sc-expandable-box sc-expandable-box--adaptive">
            <input id="exb4" type="checkbox" class="sc-expandable-box__toggle">
            <h5 class="sc-font sc-expandable-box__title"><label for="exb4" class="sc-expandable-box__label">Box #2 title</label></h5>
            <div class="sc-expandable-box__content">
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>
            </div>
        </div>
    </div>

    <pre><code class="html js-format-code">
<!--
<div class="sc-expandable-box sc-expandable-box--adaptive">
    <input id="exb3" type="checkbox" class="sc-expandable-box__toggle">
    <h3 class="sc-font sc-expandable-box__title">
        <label for="exb3" class="sc-expandable-box__label">Box #1 title</label>
    </h3>
    <div class="sc-expandable-box__content">
        Lorem ipsum...
    </div>
</div>

<div class="sc-expandable-box sc-expandable-box--adaptive">
    <input id="exb4" type="checkbox" class="sc-expandable-box__toggle">
    <h5 class="sc-font sc-expandable-box__title">
        <label for="exb4" class="sc-expandable-box__label">Box #2 title</label>
    </h5>
    <div class="sc-expandable-box__content">
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>
</div>
-->
    </code></pre>


    <a name="collapse"></a>
    <h3>Collapse</h3>

    <p>
        For a realistic example, take a look on our
        <a href="../examples/pages/listpage/index.html" target="_blank">Listpage-Example</a>.
    </p>

    <h4>Toggle Example</h4>
    <div class="example example-collapse">
        <a data-toggle="sc-collapse" data-target="#collapse-target-1">Toggle Content</a>
        <div id="collapse-target-1" class="sc-collapse">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
            sanctus est Lorem ipsum dolor sit amet.
        </div>
    </div>

    <pre><code class="html js-format-code">
<!--
<button data-toggle="sc-collapse" data-target="#collapse">
    Toggle Content
</button>
<div id="collapse" class="sc-collapse">...</div>
-->
    </code></pre>

    <h4>Show more/less example</h4>
    <div class="example example-collapse">
        <a class="sc-collapse sc-collapse-target in" data-test="example-collapse-show"
           data-toggle="sc-collapse" data-target=".sc-collapse-target">
            Show content
        </a>
        <div class="sc-collapse sc-collapse-target" data-test="example-collapse-box">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
            sanctus est Lorem ipsum dolor sit amet.
        </div>
        <a class="sc-collapse sc-collapse-target" data-test="example-collapse-hide"
           data-toggle="sc-collapse" data-target=".sc-collapse-target">
            Less content
        </a>
    </div>

    <pre><code class="html js-format-code">
<!--
<a class="sc-collapse sc-collapse-target in" data-toggle="sc-collapse" data-target=".sc-collapse-target">
    More Content
</a>
<div class="sc-collapse sc-collapse-target">
    ...
</div>
<a data-toggle="sc-collapse" data-target=".sc-collapse-target" class="sc-collapse sc-collapse-target">
    Less Content
</a>
-->
    </code></pre>

    <a name="breadcrumbs"></a>
    <h3>Breadcrumbs</h3>
    <h4>Single Breadcrumb</h4>
    <div class="example example-breadcrumbs">
        <ul class="sc-breadcrumbs">
            <li><a href="#/url/to/home" data-breadcrumb="home">Home page</a></li>
        </ul>
    </div>
    <pre><code class="html js-format-code">
<!--
<div>
    <ul class="sc-breadcrumbs">
        <li><a href="#/url/to/home" data-breadcrumb="home">Home page</a></li>
    </ul>
</div>
-->
    </code></pre>
    <h4>Multiple Breadcrumbs</h4>
    <div class="example example-breadcrumbs" data-test="breadcrumbs-responsive">
        <ul class="sc-breadcrumbs">
            <li><a href="#/url/to/home" data-breadcrumb="home">Home page</a></li>
            <li><a href="#/url/to/list" data-breadcrumb="list">List results</a></li>
            <li><a href="#/url/to/detail" data-breadcrumb="detail">Detail</a></li>
        </ul>
    </div>
    <pre><code class="html js-format-code">
<!--
<div>
    <ul class="sc-breadcrumbs">
        <li><a href="#/url/to/home" data-breadcrumb="home">Home page</a></li>
        <li><a href="#/url/to/list" data-breadcrumb="list">List results</a></li>
        <li><a href="#/url/to/detail" data-breadcrumb="detail">Detail</a></li>
    </ul>
</div>
-->
    </code></pre>

    <h4>Mobile Breadcrumbs</h4>
    <div class="example example-mobile-breadcrumbs" data-test="breadcrumbs-mobile-responsive">
        <ul class="sc-breadcrumbs sc-breadcrumbs--viewport-s">
            <li><a href="#/url/to/home" data-breadcrumb="home">Home page</a></li>
            <li class="sc-breadcrumb-item--viewport-s">
                <a href="#/url/to/list" data-breadcrumb="list">List results</a>
            </li>
            <li><a href="#/url/to/detail" data-breadcrumb="detail">Detail</a></li>
        </ul>
    </div>
    <pre><code class="html js-format-code">
<!--
<div>
    <ul class="sc-breadcrumbs sc-breadcrumbs--viewport-s">
        <li>
            <a href="#/url/to/home" data-breadcrumb="home">Home page</a>
        </li>
        <li class="sc-breadcrumb-item--viewport-s">
            <a href="#/url/to/list" data-breadcrumb="list">List results</a>
        </li>
        <li>
            <a href="#/url/to/detail" data-breadcrumb="detail">Detail</a>
        </li>
    </ul>
</div>
-->
    </code></pre>

    <a name="custom-dropdown"></a>
    <h3>Custom Dropdown</h3>
    <div class="example example-custom-dropdown">
        <label>Custom Dropdown</label>
        <custom-dropdown class="sc-input" data-test="custom-dropdown-1" checkboxgroup>
            <div>
                <p>All</p>
            </div>
            <div>
                <input type="checkbox" id="cd1"/>
                <label for="cd1">Value1</label>
                <input type="checkbox" id="cd2"/>
                <label for="cd2">Value2</label>
                <input type="checkbox" id="cd3"/>
                <label for="cd3">Value3</label>
            </div>
        </custom-dropdown>
        <hr/>
        <label>Custom Dropdown with Icons</label>
        <custom-dropdown class="sc-input icon" data-test="custom-dropdown-2" checkboxgroup style="max-width: 300px;">
            <div>
                <p>All</p>
            </div>
            <div>
                <input type="checkbox" id="cabrio"/>
                <label for="cabrio">
                    <as24-icon type="bodytypes/roadster"></as24-icon>
                    <span>
                        Cabrio
                    </span>
                </label>
                <input type="checkbox" id="coupe"/>
                <label for="coupe">
                    <as24-icon type="bodytypes/sports"></as24-icon>
                    <span>
                        Coupé
                    </span>
                </label>
                <input type="checkbox" id="compact"/>
                <label for="compact">
                    <as24-icon type="bodytypes/compact"></as24-icon>
                    <span>
                        Kleinwagen
                    </span>
                </label>
                <input type="checkbox" id="station"/>
                <label for="station">
                    <as24-icon type="bodytypes/station"></as24-icon>
                    <span>
                        Kombi
                    </span>
                </label>
                <input type="checkbox" id="limousine"/>
                <label for="limousine">
                    <as24-icon type="bodytypes/limousine"></as24-icon>
                    <span>
                        Limousine
                    </span>
                </label>
                <input type="checkbox" id="offroad"/>
                <label for="offroad">
                    <as24-icon type="bodytypes/offroad"></as24-icon>
                    <span>
                        SUV/Geländewagen
                    </span>
                </label>
                <input type="checkbox" id="delivery"/>
                <label for="delivery">
                    <as24-icon type="bodytypes/delivery"></as24-icon>
                    <span>
                        Transporter
                    </span>
                </label>
                <input type="checkbox" id="van"/>
                <label for="van">
                    <as24-icon type="bodytypes/van"></as24-icon>
                    <span>
                        Van
                    </span>
                </label>
            </div>
        </custom-dropdown>
    </div>
    <pre><code class="html js-format-code">
<!--
<label>Custom Dropdown</label>
<custom-dropdown checkboxgroup>
    <div>
        <p>All</p>
    </div>
    <div>
        <input type="checkbox" id="myId"/>
        <label for="myId">My Label</label>
        ...
    </div>
</custom-dropdown>

<label>Custom Dropdown with Icons</label>
<custom-dropdown class="icon" checkboxgroup>
    <div>
        <p>All</p>
    </div>
    <div>
        <input type="checkbox" id="myId"/>
        <label for="myId">
            <as24-icon type="..."></as24-icon>
    <span>
        ...
    </span>
        </label>
        ...
    </div>
</custom-dropdown>
-->
    </code></pre>

    <a name="sticky"></a>
    <h3>Sticky Element</h3>

    <p>A sticky element represents any HTML element that keeps in view even if you scroll.</p>
    <p>A sticky element consists of three parts:
    <ul class="sticky-list">
        <li>The sticky element itself, identified by a <code>data-sticky</code> attribute with a unique identifier for the element as value.</li>
        <li>A marker where it undocks (starts scrolling), identified by a <code>data-sticky-undock</code> attribute with the identifier as value.</li>
        <li>And a marker where it docks (stops scrolling), identified by a <code>data-sticky-dock</code> attribute with the identifier as value.</li>
    </ul>
    <p>Both markers are optional. If you omit the undock marker, the start of the document is used. If you omit the dock marker the end of the document is used.</p>

    <div class="example example-sticky">
        <div data-sticky-undock="myBtn"></div>
        <div class="spacer">
            Sticky Spacer
        </div>
        <div data-sticky-dock="myBtn"></div>
        <div data-sticky="myBtn" class="sc-text-center">
            <button class="sc-btn-bob">Sticky Button</button>
        </div>
    </div>
    <pre><code class="html js-format-code">
<!--
<div data-sticky-undock="myBtn"></div>
...
<div data-sticky-dock="myBtn"></div>
<div data-sticky="myBtn">
    <button class="sc-btn-bob">Sticky Button</button>
</div>
-->
    </code></pre>

    <a name="rotating-arrow"></a>
    <h3>Rotating Arrow</h3>

    <div class="example example-rotating-arrow">
        <div id="rotating-arrow" >
            <span class="sc-font-bold">Look at the arrow right of me!</span>
            <span data-toggle="arrow" data-target="#rotating-arrow"></span>
        </div>
    </div>
    <pre><code class="html js-format-code">
<!--
<div id="myId">
    Look at the arrow right of me! <span data-toggle="arrow" data-target="#myId"></span>
</div>
-->
    </code></pre>


    <a name="navigation"></a>
    <h3>Navigation</h3>

    <div class="example example-navigation">

        <div class="sc-navigation">
            <div class="bar">
                <button class="sc-btn-mobile-menu"><span></span>Menu</button>
                <a href="https://www.autoscout24.de" class="icon-auto24"><as24-icon type="auto24"></as24-icon></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <span class="title" tabindex="1">Menu 1</span>
                        <ul>
                            <li><a href="http://google.de/" target="_blank">Menu 1 Link to Google</a></li>
                            <li><a href="http://microsoft.de/">Menu 1 Link to Microsoft</a></li>
                            <li><a href="http://apple.com/de">Menu 1 Link to Apple</a></li>
                        </ul>
                    </li>

                    <li>
                        <span class="title" tabindex="2">Menu 2</span>
                        <ul>
                            <li><a href="#navigation">Menu 2 Link 1</a></li>
                            <li><a href="#navigation">Menu 2 Link 2</a></li>
                            <li><a href="#navigation">Menu 2 Link 3</a></li>
                        </ul>
                    </li>

                    <li>
                        <span class="title" tabindex="3">Menu 3</span>
                        <ul class="submenu">
                            <li>
                                <ul>
                                    <li class="subheadline">Submenu 1</li>
                                    <li><a href="#navigation">Submenu 1 Link 1</a></li>
                                    <li><a href="#navigation">Submenu 1 Link 2</a></li>
                                    <li><a href="#navigation">Submenu 1 Link 3</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="subheadline">Submenu 2</li>
                                    <li><a href="#navigation">Submenu 2 Link 1</a></li>
                                    <li><a href="#navigation">Submenu 2 Link 2</a></li>
                                    <li><a href="#navigation">Submenu 2 Link 3</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="subheadline">Submenu 3</li>
                                    <li><a href="#navigation">Submenu 3 Link 1</a></li>
                                    <li><a href="#navigation">Submenu 3 Link 2</a></li>
                                    <li><a href="#navigation">Submenu 3 Link 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <hr>

                <ul class="right">
                    <li>
                        <span class="title" tabindex="4">My Menu</span>
                        <ul>
                            <li><a href="#navigation">My Menu Link 1</a></li>
                            <li>
                                <button class="sc-btn-ross sc-btn-block">Login</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <pre><code class="html js-format-code">
<!--
<div class="sc-navigation">
<div class="bar">
    <button class="sc-btn-mobile-menu"><span></span>Menu</button>
    <a href="https://www.autoscout24.de" class="icon-auto24"><as24-icon type="auto24"></as24-icon></a>
</div>
<nav>
    <ul>
        <li>
            <span class="title" tabindex="1">Menu 1</span>
            <ul>
                <li><a href="http://google.de/" target="_blank">Menu 1 Link to Google</a></li>
                <li><a href="http://microsoft.de/">Menu 1 Link to Microsoft</a></li>
                <li><a href="http://apple.com/de">Menu 1 Link to Apple</a></li>
            </ul>
        </li>

        <li>
            <span class="title" tabindex="2">Menu 2</span>
            <ul>
                <li><a href="#navigation">Menu 2 Link 1</a></li>
                <li><a href="#navigation">Menu 2 Link 2</a></li>
                <li><a href="#navigation">Menu 2 Link 3</a></li>
            </ul>
        </li>

        <li>
            <span class="title" tabindex="3">Menu 3</span>
            <ul class="submenu">
                <li>
                    <ul>
                        <li class="subheadline">Submenu 1</li>
                        <li><a href="#navigation">Submenu 1 Link 1</a></li>
                        <li><a href="#navigation">Submenu 1 Link 2</a></li>
                        <li><a href="#navigation">Submenu 1 Link 3</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li class="subheadline">Submenu 2</li>
                        <li><a href="#navigation">Submenu 2 Link 1</a></li>
                        <li><a href="#navigation">Submenu 2 Link 2</a></li>
                        <li><a href="#navigation">Submenu 2 Link 3</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li class="subheadline">Submenu 3</li>
                        <li><a href="#navigation">Submenu 3 Link 1</a></li>
                        <li><a href="#navigation">Submenu 3 Link 2</a></li>
                        <li><a href="#navigation">Submenu 3 Link 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <hr>

    <ul class="right">
        <li>
            <span class="title" tabindex="4">My Menu</span>
            <ul>
                <li><a href="#navigation">My Menu Link 1</a></li>
                <li>
                    <button class="sc-btn-ross sc-btn-block">Login</button>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</div>
-->
    </code></pre>

    <a name="pagination"></a>
    <h3>Pagination</h3>

    <p>If you want to use the pagination component, you just need to add the <code>ul</code> element with the <code>.sc-pagination</code> class as shown below and the
    corresponding javascript snippet.</p>
    <p>You need following properties to instantiate the "Pager":</p>
        <ul class="sticky-list">
            <li>the name of the "root" element (in fact you can use <code>document.querySelector('.sc-pagination')</code> to obtain the right element)</li>
            <li>number of items per page (itemsPerPage)</li>
            <li>the currently active page (activePage)</li>
            <li>total number of items (totalCount)</li>
            <li>the url-template which is used for the a-tag (urlTemplate) with the {page} and the {size} placeholders.</li>
        </ul>

    <p>The {size} placeholder hold the value for the items per page. The {page} placeholder will be filled with the currently active page.</p>

    <div class="example">
        This example is fully responsive and represents how it will be if included in your page:
        <ul class="sc-pagination"></ul>
    </div>

    <pre><code class="html js-format-code">
    <!--
    <ul class="sc-pagination">
    </ul>
    -->
    </code></pre>

    <p>This needs to be build in your webpack:</p>
    <pre><code class="js-format-code">
    <!--
    (function ($) {
        var paginationElement = document.querySelector('.sc-pagination'),
            itemsPerPage = 20,
            activePage = 1,
            totalCount = 800,
            urlTemplate = 'http://www.autoscout24.com/listWithPagination?page={page}&size={size}';

        if (paginationElement) {
            new Pager(paginationElement, itemsPerPage, activePage, totalCount, urlTemplate);
        }
    })(window.Zepto);
    -->
    </code></pre>

    <h3>More examples (not responsive)</h3>

    <div class="example-pagination version-normal">
        <h4>Normal Version: 768px (will be centered if less pages)</h4>
        <ul class="sc-pagination">
            <li class="previous-page">
                <a class="disabled" href="">
                    <as24-icon type="arrow"></as24-icon> Previous
                </a>
            </li>
            <li class="info-page"><a class="disabled" href="javascript:void(0)">3 / 20</a></li>
            <li><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a class="active" href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">6</a></li>
            <li><a href="javascript:void(0)">7</a></li>
            <li><a href="javascript:void(0)">8</a></li>
            <li><a href="javascript:void(0)">9</a></li>
            <li><a class="disabled" href="">...</a></li>
            <li><a href="javascript:void(0)">20</a></li>
            <li class="next-page">
                <a href="javascript:void(0)">Next <as24-icon type="arrow"></as24-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="example-pagination version-tablet">
        <h4>Tablet Version: &gt; 760px (will be centered if less pages)</h4>
        <ul class="sc-pagination">
            <li class="previous-page">
                <a class="disabled" href="">
                    <as24-icon type="arrow"></as24-icon> Previous
                </a>
            </li>
            <li class="info-page"><a class="disabled" href="javascript:void(0)">3 / 20</a></li>
            <li><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a class="active" href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">6</a></li>
            <li><a href="javascript:void(0)">7</a></li>
            <li><a href="javascript:void(0)">8</a></li>
            <li><a class="disabled" href="">...</a></li>
            <li><a href="javascript:void(0)">20</a></li>
            <li class="next-page">
                <a href="javascript:void(0)">Next <as24-icon type="arrow"></as24-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="example-pagination version-desktop">
        <h4>Tablet Version: &GreaterEqual; 715px centered</h4>
        <ul class="sc-pagination">
            <li class="previous-page">
                <a class="disabled" href="">
                    <as24-icon type="arrow"></as24-icon> Previous
                </a>
            </li>
            <li class="info-page"><a class="disabled" href="javascript:void(0)">3 / 20</a></li>
            <li><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a class="active" href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a class="disabled" href="">...</a></li>
            <li><a href="javascript:void(0)">8</a></li>
            <li class="next-page">
                <a href="javascript:void(0)">Next <as24-icon type="arrow"></as24-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="example-pagination version-mobile-715">
        <h4>Mobile Version: 320px - 714px centered</h4>
        <ul class="sc-pagination">
            <li class="previous-page">
                <a href="javascript:void(0);">
                    <as24-icon type="arrow"></as24-icon> Previous
                </a>
            </li>
            <li class="info-page" style="display: inline-block;"><a class="disabled" href="javascript:void(0)">3 / 20</a></li>
            <li class="next-page">
                <a href="javascript:void(0)">Next <as24-icon type="arrow"></as24-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="example-pagination version-mobile-320">
        <h4>Mobile Version: &lt; 320px</h4>
        <ul class="sc-pagination">
            <li class="previous-page">
                <a href="javascript:void(0);">
                    <as24-icon type="arrow"></as24-icon> Previous
                </a>
            </li>
            <li class="next-page">
                <a href="javascript:void(0)">Next <as24-icon type="arrow"></as24-icon>
                </a>
            </li>
        </ul>
    </div>

    <a name="notifications"></a>
    <h3>Notifications</h3>

    <div class="example-ad"></div>
    <script>
        window.setTimeout(function () {
            $('.example-ad').append('<p>Here\'s an example ad, that pop\'s up suddenly on reload</p>');
        }, 10000);
    </script>
    <div class="sc-content-container example-notification-target" id="example-notification-target">
        Notification Target container
    </div>

    <br>

    <div class="sc-content-container example-notification-target-container">
        <div class="example-notification-target-s" id="example-notification-target-s">
            Small Notification Target container
        </div>
    </div>

    <h4>Demo:</h4>
    <div class="example example-notification">
        <as24-notification type="success" id="succ1" target="#example-notification-target" title="Vehicle is added to watchlist." timeout="2500">
            Go to <a href="#">my watchlist</a>.
        </as24-notification>
        <as24-notification type="information" id="info1" target="#example-notification-target" title="Information for you, but without body text">
        </as24-notification>
        <as24-notification type="error" id="error1" target="#example-notification-target" title="Error occurred">
            Error here...
        </as24-notification>
        <as24-notification type="success" id="succ2" target="#example-notification-target" title="Success with close button" close="true">
            Close me, please.
        </as24-notification>
        <as24-notification type="tip" id="tip1" target="#example-notification-target-s" title="Tip for you" close="true">
            Tip tip...
        </as24-notification>
        <as24-notification type="tip" id="tip2" target="#example-notification-target-s" title="Small Tip for you" close="true">
            Tip tip hurra...
        </as24-notification>

        <div class="sc-text-center">
            <button class="notification-demo sc-btn-bob" data-id="succ1">Show success notification with timeout</button>&nbsp;
            <button class="notification-demo sc-btn-ross" data-id="info1">Toggle info notification</button>&nbsp;
            <button class="notification-demo sc-btn-bob" data-id="error1">Toggle error notification</button>
            <hr>
            <button class="notification-demo sc-btn-bob" data-id="succ2">Show success notification with close button</button>&nbsp;
            <button class="notification-demo sc-btn-ross" data-id="tip1">Show tip notification</button>
            <button class="notification-demo sc-btn-ross" data-id="tip2">Show small tip notification</button>
        </div>
    </div>
    <pre><code class="html js-format-code">
<!--
<as24-notification type="success" id="succ1" target="#example-notification-target" title="Vehicle is added to watchlist." timeout="2500">
    Go to <a href="#">my watchlist</a>.
</as24-notification>

<as24-notification type="information" id="info1" target="#example-notification-target" title="Information for you">
    Information here...
</as24-notification>

<as24-notification type="error" id="succ1" target="#example-notification-target" title="Error occurred">
    Error here...
</as24-notification>

<as24-notification type="success" id="succ2" target="#example-notification-target" title="Success with close button" close="true">
    Close me, please.
</as24-notification>
-->
    </code></pre>

    <div class="sc-grid-row">
        <div class="sc-grid-col-6 sc-grid-col-m-5 sc-grid-col-s-12">
            <h4>Attributes for a notification</h4>
            <table class="docs-table docs-table-visibility">
                <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>type</td>
                    <td>Allowed types are: success, information, error, tip</td>
                </tr>
                <tr>
                    <td>target</td>
                    <td>Target element. The Notification anchers below the target element</td>
                </tr>
                <tr>
                    <td>title</td>
                    <td>Notification title</td>
                </tr>
                <tr>
                    <td>timeout</td>
                    <td>close the notification after [timeout] ms</td>
                </tr>
                    <td>close</td>
                    <td>Add a close button for the notification</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="sc-grid-col-6 sc-grid-col-m-7 sc-grid-col-s-12">
            <h4>Show a notification with javascript</h4>

            <div class="example example-notification">
                Add the class "show" to a as24-notification tag:
            </div>
            <pre><code class="js-format-code">
<!--
var notification = document.querySelector('#succ1');
notification.classList.toggle('show');
-->
            </code></pre>
        </div>
        <hr>
    </div>


    <a name="scrolling"></a>
    <h3>Scrolling</h3>
    <p>
        ShowcarUI adds some nice animated scrolling functionality. In order to use it add the sc-smooth-scroll class to any anchor link.
    </p>
    <div class="example example-scrolling">
        <ul>
            <li><a href="#top" class="sc-smooth-scroll">ToTop</a></li>
            <li><a href="#breadcrumbs" class="sc-smooth-scroll">Breadcrumbs</a></li>
            <li><a href="#collapse" class="sc-smooth-scroll">Collapse</a></li>
            <li><a href="#navigation" class="sc-smooth-scroll">Navigation</a></li>
            <li><a href="#custom-dropdown" class="sc-smooth-scroll">Custom Dropdown</a></li>
        </ul>
    </div>
    <pre><code class="html js-format-code">
        <!--
<ul>
    <li><a href="#top" class="sc-smooth-scroll">ToTop</a></li>
    <li><a href="#breadcrumbs" class="sc-smooth-scroll">Breadcrumbs</a></li>
    <li><a href="#collapse" class="sc-smooth-scroll">Collapse</a></li>
    <li><a href="#navigation" class="sc-smooth-scroll">Navigation</a></li>
    <li><a href="#custom-dropdown" class="sc-smooth-scroll">Custom Dropdown</a></li>
</ul>
        -->
    </code></pre>

</div>
