@import "fonts";

@mixin input($size) {
    @extend %input-#{to-upper-case($size)};
}

@mixin checkbox($size) {
    @extend %checkbox;
    @extend %radiobutton-checkbox-#{to-upper_case($size)};
}

@mixin radiobutton($size) {
    @extend %radiobutton;
    @extend %radiobutton-checkbox-#{to-upper_case($size)};
}

%input-L {
    @include font(L);

    padding: $S $M;
    height: 48px;
}

%input-M {
    @include font(M);

    padding: $XS 12px;
    height: 36px;
}

%radiobutton {
    & + label {
        &:before {
            border-radius: 26px;
        }
    }

    &:checked + label:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2026%2026%22%20enable-background%3D%22new%200%200%2026%2026%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23333%3B%7D%3C%2Fstyle%3E%3Ccircle%20cy%3D%2213%22%20cx%3D%2213%22%20r%3D%225%22%20class%3D%22st0%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
    }
}

%checkbox {
    & + label {
        &:before {
            border-radius: $form-border-radius;
        }
    }

    &:checked + label:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%20width%3D%2226%22%3E%3Cstyle%20id%3D%22style3%22%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3A%23333333%3B%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22polygon7%22%20class%3D%22st0%22%20d%3D%22M18.8%206.8l-7.9%207.8-3.8-3.7L5%2013l6%206L21%209z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
    }
}

%radiobutton-checkbox-M {
    $size: 16px;

    & + label {
        font-size : $size;
        padding-left: 2 * $size;

        &:before {
            width: $size + $XS;
            height: $size + $XS;
        }
    }
}

%radiobutton-checkbox-L {
    $size: 20px;

    & + label {
        font-size : $size;
        padding-left: 2 * $size;

        &:before {
            width: $size + $XS;
            height: $size + $XS;
        }
    }
}
