#withoutmenu #content {
  padding: 0 0 2000px 0;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
    url(../SourceSansPro.woff2) format('woff2');
}
/* * {
    font-family: "Source Sans Pro" !important
} */
body {
  background: #fff;
}
.markdown ul {
  list-style: inherit;
  padding-top: 12px;
}
.markdown ul > li {
  margin-left: 20px;
}
.markdown p {
  padding-top: 12px;
}
#sidebar {
  float: left;
  width: 330px;
  background-color: #f4f4f4;
  padding-top: 20px;
  border-right: 1px solid #dcdcdc;
  box-shadow: none;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  right: 0;
  padding-bottom: 100px;
}
#sidebar-logo {
  background: url('../logo.svg');
  height: 35px;
  width: 74px;
  margin: 24px;
}
#sidebar h1 {
  font-size: 1.25rem;
  margin-bottom: 1em;
  line-height: 1.4;
  font-weight: 400;
  padding: 0 0 50px 24px;
}
#left-menu {
  line-height: 56px;
  text-transform: capitalize;
  border-top: 1px solid #dcdcdc;
}
#left-menu > ul > li span {
  border-bottom: 1px solid #dcdcdc;
  font-size: 16px;
  font-weight: normal;
  color: #333 !important;
  display: block;
  padding: 6px 24px;
  position: relative;
  text-decoration: none;
}
#left-menu ul ul {
  font-size: 16px;
  list-style: none;
  min-height: 0;
  padding: 0;
  margin: 0;
  background-color: #fff;
  line-height: 30px;
}
#left-menu ul ul a {
  border-left: 4px solid transparent;
  border-bottom: 1px solid #dcdcdc;
  color: #646464 !important;
  display: block;
  font-size: 16px;
  font-weight: 300;
  padding: 8px 24px 8px 30px;
}
#left-menu ul ul a:hover,
#left-menu ul ul a.active {
  border-left-color: #ff7500;
}
#left-menu li {
  position: relative;
}
#left-menu a.open-separate {
  opacity: 0.1;
  display: block;
  position: absolute;
  padding: 0;
  right: 20px;
  top: 16px;
  width: 19px;
  height: 16px;
  background: url(../new-page.svg) no-repeat;
  border: none;
  z-index: 2;
  transition: opacity 0.3s;
}
#left-menu > ul > li > a.open-separate {
  top: 27px;
}
#left-menu a.open-separate:hover {
  opacity: 1;
}
#content {
  overflow: hidden;
}
.element {
  padding: 20px 0 50px;
  clear: both;
}
.sample {
  margin-top: 30px;
  border: 1px solid #dcdcdc;
  border-radius: 4px 4px 0 0;
  padding: 36px;
  background-color: #fff;
  position: relative;
}
#button-target .sample {
  background: #f4f4f4;
}

.element .code {
  display: none;
  border: 1px solid #dcdcdc;
  border-top: none;
  background-color: #f4f4f4;
  position: relative;
}
.element .code.show {
  display: block;
}
.element code.hljs {
  box-sizing: border-box;
  color: #646464;
  font-size: 16px;
  line-height: 21px;
  padding: 36px 36px 15px;
  opacity: 0.75;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  white-space: pre;
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: #f4f4f4;
}
.element code.hljs.js {
  color: #d14;
}
#content .type_name {
  padding: 40px 0;
  font-size: 40px;
  line-height: 1.2;
  text-transform: capitalize;
}
#content :not(.sample) > h2 {
  margin-bottom: 12px;
  line-height: 32px;
  font-size: 24px;
}
#content :not(.sample) > hr {
  padding: 0px 0 40px;
}
#content hr:first-child :not(.sample) {
  display: none;
}
#content pre {
  white-space: pre-wrap;
}
.code-sample-toggle {
  border-radius: 0 0 4px 4px;
  color: #949494;
  cursor: pointer;
  display: block;
  font-size: 13px;
  padding: 8px 12px 8px 12px;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-top-width: 0;
  background-color: #f4f4f4;
}
.clipbrd-btn {
  opacity: 0;
  transition: opacity 0.4s;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-appearance: none;
  width: 38px;
  height: 34px;
  z-index: 1;
}
.clipbrd-btn:focus {
  outline: 0;
}
.clipbrd-btn span {
  background: url(../clippy.svg);
  position: absolute;
  top: 50%;
  width: 12px;
  text-align: center;
  height: 14px;
  z-index: 52;
  background-size: cover;
  transform: translate(-50%, -50%);
  left: 50%;
}
.element .code:hover .clipbrd-btn {
  opacity: 1;
  transition: opacity 0.4s;
}
.status {
  position: relative;
  margin-left: 12px;
  top: -2px;
  display: inline-block;
  padding: 5px 6px;
  border-radius: 4px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12px;
  line-height: 1;
}
.status.approved {
  color: #196600;
  background-color: #e6f5cf;
}
.status.refactor,
.status.review {
  color: #994200;
  background-color: #fff1c0;
}
.status.deprecated,
.status.in-progress {
  color: #994200;
  background-color: #ffdddc;
}
.status.js {
  color: #1e4c7a;
  background-color: #e4eeff;
}
#all-code-toggler,
#collapse-to-hamburger,
#left-menu-toggle {
  margin: 5px 24px 50px;
  border: 1px solid #dcdcdc;
  color: #333;
  text-align: center;
  line-height: 38px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s;
}
#all-code-toggler:hover,
#all-code-toggler.active,
#collapse-to-hamburger:hover,
#collapse-to-hamburger.active {
  background-color: #ff7500;
  border-color: #ff7500;
  color: #fff;
}
#all-code-toggler.active:hover,
#collapse-to-hamburger.active:hover {
  background-color: #994200;
  border-color: #994200;
}
.markdown h4 {
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 2.2;
  padding-top: 8px;
  margin-top: 4px;
  display: inline-block;
  text-transform: uppercase;
}
.markdown code.hljs {
  padding: 10px;
  border-radius: 4px;
}
pre code:before {
  content: '';
}
code {
  color: #ff7500;
  display: inline-block;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  line-height: 18px;
  padding: 0 3px;
}
.docs-table {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  border-collapse: separate;
  margin: 20px 0;
}
.docs-table th {
  background-color: #c4c4c4;
  font-weight: bold;
}
.docs-table th,
body :not(.sc-table) > table td {
  width: 200px;
  padding: 8px;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
  word-break: break-all;
}
.docs-table th,
body :not(.sc-table) > table td:first-child {
  border-left: 0;
}
.docs-table th,
body :not(.sc-table) > table tr:nth-child(even) td {
  background-color: #f4f4f4;
}
.docs-table th,
body :not(.sc-table) > table tr:last-child td {
  border-bottom: none;
}
.docs-table-visibility tr td.cell-visible {
  background-color: #e6f5cf !important;
}
.docs-table-visibility tr td.cell-hidden {
  background-color: #ffdddc !important;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/**
 * Component - Colours
 * ----------------------------------------//
 */
.ndpl-component__colors {
  padding: 0 12px;
}
.ndpl-component__color-container {
  float: left;
  margin-top: 24px;
  width: 100%;
}
.ndpl-component__color-container:first-of-type {
  margin-top: 0;
}
.ndpl-component__color-container:nth-child(even) {
  margin-right: 0;
}
.ndpl-component__color {
  float: left;
  line-height: 1;
  padding: 24px 0;
  text-align: center;
  width: 50%;
}
.ndpl-component__color:first-of-type {
  border-radius: 4px 0 0 4px;
}
.ndpl-component__color:last-of-type {
  border-radius: 0 4px 4px 0;
}
.ndpl-component__color:first-of-type:last-of-type {
  border-radius: 4px;
  width: 100%;
}
.ndpl-component__color div {
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 13px;
  padding: 6px 9px;
  text-transform: uppercase;
}
.ndpl-component__color div.ndpl-dark-text {
  color: #646464 !important;
  border-color: #949494;
}
.ndpl-component__color div {
  text-transform: none;
}
@media only screen and (min-width: 1001px) {
  #content {
    padding: 36px 40px 36px 370px;
  }
  #sidebar {
    left: 0;
    bottom: 0;
    display: block;
    position: fixed;
    top: 0;
  }
  .ndpl-component__colors {
    padding: 0;
  }
  .ndpl-component__color-container {
    margin-right: 3%;
    width: 17.5%;
  }
  .ndpl-component__color-container:nth-child(even) {
    margin-right: 3%;
  }
  .ndpl-component__color-container:nth-child(5n) {
    margin-right: 0;
  }
  .ndpl-component__color-container:nth-child(-n + 5) {
    margin-top: 0;
  }
  .ndpl-component__color {
    padding: 48px 0;
    width: 100%;
  }
  .ndpl-component__color:first-of-type {
    border-radius: 4px 4px 0 0;
  }
  .ndpl-component__color:last-of-type {
    border-radius: 0 0 4px 4px;
  }
}
.tooltipped:after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 5px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
  top: 100%;
  right: 50%;
  margin-top: 5px;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
.tooltipped:before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: '';
  border: 5px solid transparent;
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
.tooltipped:hover:before,
.tooltipped:hover:after,
.tooltipped:active:before,
.tooltipped:active:after,
.tooltipped:focus:before,
.tooltipped:focus:after {
  display: inline-block;
  text-decoration: none;
}
#open-menu {
  display: none;
}
@media all and (max-width: 1000px) {
  #sidebar.open {
    max-height: 100%;
    transition: max-height 0.2s;
  }
  #sidebar {
    position: fixed;
    width: 100%;
    transition: max-height 0.05s;
    float: none;
    background: #fff;
    max-height: 50px;
    border-bottom: 1px solid #dcdcdc;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    z-index: 20; /* to see sticky spy-navigation*/
    box-sizing: border-box;
    border-right: none;
    top: 0;
    padding: 0;
  }
  #all-code-toggler,
  #collapse-to-hamburger {
    display: none;
    padding-top: 0;
  }
  #sidebar-logo {
    margin: 12px 16px 12px 12px;
    float: left;
    height: 28px;
    width: 59px;
    background-size: cover;
  }
  #sidebar h1 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    float: left;
    line-height: 50px;
  }
  #left-menu {
    clear: both;
  }
  #left-menu {
    visibility: hidden;
    border-top: 0;
    top: 55px;
    width: 100%;
    background: #fff;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #sidebar.open #left-menu {
    visibility: visible;
  }
  #left-menu a.open-separate {
    display: none;
  }
  #left-menu > ul > li span {
    padding: 0px 24px;
    font-weight: bold;
  }
  #content {
    margin: 40px 15px 0;
  }
  #open-menu {
    display: block;
  }
}
#open-menu {
  cursor: pointer;
  height: 27px;
  overflow: hidden;
  position: fixed;
  right: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  top: 15px;
  width: 48px;
  z-index: 9999;
}
#open-menu__container {
  padding: 12px 0 0;
}
#open-menu span {
  background-color: #333;
  display: block;
  height: 3px;
  opacity: 1;
  position: absolute;
  right: 12px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  width: 27px;
}
#open-menu span:nth-child(1) {
  top: 0px;
}
#open-menu span:nth-child(2) {
  top: 9px;
}
#open-menu span:nth-child(3) {
  top: 18px;
}
#sidebar.open #open-menu {
  position: fixed;
}
#sidebar.open #open-menu span:nth-child(1) {
  top: 11px;
  transform: rotate(-45deg);
}
#sidebar.open #open-menu span:nth-child(2) {
  opacity: 0;
  right: -60px;
}
#sidebar.open #open-menu span:nth-child(3) {
  top: 11px;
  transform: rotate(45deg);
}
#separate-content {
  margin-bottom: 100px;
}
#button-with-icon-target .sample {
  display: flex;
  background: #eee;
}

#button-with-icon-target .sample button {
  margin-right: 5px;
}

#lazy-image-target .sample li {
  margin-bottom: 20px;
}

#lazy-image-target .sample li:last-child {
  margin-bottom: 0;
}

#lazy-image-target .sample h3 {
  margin-bottom: 10px;
}

#lazy-image-target .sample img {
  width: 300px;
}

#lazy-image-target .sample ol {
  list-style: decimal-leading-zero;
}

#clearfix .sample > div > div {
  float: left;
  background: #dcdcdc;
  width: auto;
  padding: 10px;
  display: block;
  margin-right: 10px;
}

#left-menu-toggle {
  display: none;
}
.hamburger-view #sidebar.open {
  max-height: 100%;
  transition: max-height 0.2s;
}
.hamburger-view #sidebar {
  position: fixed;
  width: 100%;
  transition: max-height 0.05s;
  float: none;
  background: #fff;
  max-height: 50px;
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  z-index: 20; /* to see sticky spy-navigation*/
  box-sizing: border-box;
  border-right: none;
  top: 0;
  padding: 0;
}
.hamburger-view #all-code-toggler,
.hamburger-view #collapse-to-hamburger {
  display: none;
  padding-top: 0;
}
.hamburger-view #sidebar-logo {
  margin: 12px 16px 12px 12px;
  float: left;
  height: 28px;
  width: 59px;
  background-size: cover;
}
.hamburger-view #sidebar h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  float: left;
  line-height: 50px;
}
.hamburger-view #left-menu {
  clear: both;
  visibility: hidden;
  border-top: 0;
  top: 55px;
  width: 100%;
  background: #fff;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}
.hamburger-view #sidebar.open #left-menu {
  visibility: visible;
}
.hamburger-view #left-menu a.open-separate {
  display: none;
}
.hamburger-view #left-menu > ul > li span {
  padding: 0px 24px;
  font-weight: bold;
}
.hamburger-view #content {
  margin: 40px 15px 0;
  padding: 0;
}
.hamburger-view #open-menu {
  display: block;
}
@media all and (min-width: 1001px) {
  .hamburger-view #left-menu-toggle {
    display: block;
    margin: 7px auto;
    width: 200px;
  }
}
