@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../SourceSansPro.woff2) format('woff2');
}
* {
    font-family: "Source Sans Pro" !important
}
body {
    background: #fff;
}
@media only screen and (min-width: 60em) {
    #sidebar {
        left: 0;
        bottom: 0;
        display: block;
        padding: 0;
        position: fixed;
        top: 0;

    }
}
#sidebar {
    float: left;
    width: 330px;
    background-color: #f4f4f4;
    padding-top: 20px;
    border-right: 1px solid #dcdcdc;
    box-shadow: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    right: 0;
    padding-bottom: 100px;
}
#sidebar-logo {
    background: url("../logo.svg");
    height: 35px;
    width: 74px;
    margin: 24px;
}
#sidebar h1 {
    font-size: 1.25rem;
    margin-bottom: 1em;
    line-height: 1.4;
    font-weight: 400;
    padding: 0 0 50px 24px;
}
#left-menu {
    line-height: 56px;
    text-transform: capitalize;
    border-top: 1px solid #dcdcdc;
}
#left-menu > ul > li span {
    border-bottom: 1px solid #dcdcdc;
    font-size: 16px;
    font-weight: normal;
    color: #333 !important;
    display: block;
    padding: 6px 24px;
    position: relative;
    text-decoration: none;
}
#left-menu ul ul {
    font-size: 16px;
    list-style: none;
    min-height: 0;
    padding: 0;
    margin: 0;
    background-color: #fff;
    line-height: 30px;
}
#left-menu ul ul a {
    border-left: 4px solid transparent;
    border-bottom: 1px solid #dcdcdc;
    color: #646464 !important;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding: 8px 24px 8px 30px;
}
#left-menu ul ul a:hover, #left-menu ul ul a.active {
    border-left-color: #ff7500;
}
#left-menu li {
    position: relative;
}
#left-menu a.open-separate {
    opacity: 0.1;
    display: block;
    position: absolute;
    padding: 0;
    right: 20px;
    top: 16px;
    width: 19px;
    height: 16px;
    background: url(../new-page.svg) no-repeat;
    border: none;
    z-index: 2;
    transition: opacity .3s;
}
#left-menu > ul > li > a.open-separate {
    top: 27px;
}
#left-menu a.open-separate:hover {
    opacity: 1;
}
@media only screen and (min-width: 60em) {
    #content {
        padding: 36px 60px 36px 390px;
    }
}
#content {
}
.element {
    padding: 10px 0 50px;
}
.sample {
    border: 1px solid #dcdcdc;
    border-radius: 4px 4px 0 0;
    padding: 36px;
    background-color: #fff;
    position: relative;
}
.element .code {
    display: none;
    border: 1px solid #dcdcdc;
    border-top: none;
    background-color: #f4f4f4;
    position: relative;
}
.element .code.show {
    display: block;
}
.element code.hljs {
    box-sizing: border-box;
    color: #646464;
    font-size: 16px;
    line-height: 21px;
    padding: 36px;
    opacity: 0.75;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    white-space: pre;
    width: 100%;
}
#content .type_name {
    padding: 40px 0 60px;
    font-size: 40px;
    line-height: 1.2;
    text-transform: capitalize;
}
#content h2 {
    margin-bottom: 12px;
    line-height: 32px;
    font-size: 24px;
}
#content hr {
    padding: 82px 0 52px;
}
#content hr:first-child {
    display: none;
}
#content pre {
    white-space: pre-wrap;
}
.code-sample-toggle {
    border-radius: 0 0 4px 4px;
    color: #949494;
    cursor: pointer;
    display: block;
    font-size: 13px;
    padding: 8px 12px 8px 12px;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-top-width: 0;
    background-color: #f4f4f4;
}
.clipbrd-btn {
    opacity: 0;
    transition: opacity .4s;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-appearance: none;
    width: 38px;
    height: 34px;
    z-index: 1;
}
.clipbrd-btn:focus {
    outline: 0;
}
.clipbrd-btn span {
    background: url(../clippy.svg);
    position: absolute;
    top: 50%;
    width: 12px;
    text-align: center;
    height: 14px;
    z-index: 52;
    background-size: cover;
    transform: translate(-50%, -50%);
    left: 50%;
}
.element .code:hover .clipbrd-btn {
    opacity: 1;
    transition: opacity .4s;
}
.status {
    position: relative;
    margin-left: 12px;
    top: -2px;
    display: inline-block;
    padding: 5px 6px;
    border-radius: 4px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 12px;
    line-height: 1;
}
.status.complete {
    color: #196600;
    background-color: #e6f5cf;
}
.status.refactor {
    color: #99171d;
    background-color: #ffdddc;
}
.status.review {
    color: #994200;
    background-color: #fff1c0;
}
#all-code-toggler {
    margin: 5px 24px 50px;
    border: 1px solid #dcdcdc;
    color: #333;
    text-align: center;
    line-height: 38px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .4s;
}
#all-code-toggler:hover, #all-code-toggler.active {
    background-color: #ff7500;
    border-color: #ff7500;
    color: #fff;
}
#all-code-toggler.active:hover {
    background-color: #994200;
    border-color: #994200;
}



/**
 * Component - Colours
 * ----------------------------------------//
 */
.ndpl-component__colors {
    padding: 0 12px;
}
.ndpl-component__color-container {
    float: left;
    margin-top: 24px;
    width: 100%;
}
.ndpl-component__color-container:first-of-type {
    margin-top: 0;
}
.ndpl-component__color-container:nth-child(even) {
    margin-right: 0;
}
.ndpl-component__color {
    float: left;
    line-height: 1;
    padding: 24px 0;
    text-align: center;
    width: 50%;
}
.ndpl-component__color:first-of-type {
    border-radius: 4px 0 0 4px;
}
.ndpl-component__color:last-of-type {
    border-radius: 0 4px 4px 0;
}
.ndpl-component__color:first-of-type:last-of-type {
    border-radius: 4px;
    width: 100%;
}
.ndpl-component__color div {
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 13px;
    padding: 6px 9px;
    text-transform: uppercase;
}
.ndpl-component__color div.ndpl-dark-text {
    color: #646464 !important;
    border-color: #949494;
}

@media only screen and (min-width: 60em) {

    .ndpl-component__colors {
        padding: 0;
    }
    .ndpl-component__color-container {
        margin-right: 3%;
        width: 17.5%;
    }
    .ndpl-component__color-container:nth-child(even) {
        margin-right: 3%;
    }
    .ndpl-component__color-container:nth-child(5n) {
        margin-right: 0;
    }
    .ndpl-component__color-container:nth-child(-n + 5) {
        margin-top: 0;
    }
    .ndpl-component__color {
        padding: 48px 0;
        width: 100%;
    }
    .ndpl-component__color:first-of-type {
        border-radius: 4px 4px 0 0;
    }
    .ndpl-component__color:last-of-type {
        border-radius: 0 0 4px 4px;
    }
}
