@import 'fonts';
@import '../01-settings/variables';

@mixin link($size: null, $variant: blue) {
  cursor: pointer;
  text-decoration: none;
  transition: color $transition-time ease-in;
  background: none;
  border: none;

  $link-colors: (
    blue: (
      normal: $color-link,
      hover: $blue-90,
      active: $blue-100
    ),
    black: (
      normal: $black-100,
      hover: $orange-90,
      active: $orange-100
    )
  );

  $color: map-get(map-get($link-colors, $variant), normal);
  color: $color;

  &:hover {
    $hover-color: map-get(map-get($link-colors, $variant), hover);
    color: $hover-color;
  }

  &:active {
    $active-color: map-get(map-get($link-colors, $variant), active);
    color: $active-color;
  }

  @if ($size) {
    @include font($size);
  }
}
