@mixin sc-topbanner {
    width: 1120px;
    line-height: 0;
    text-align: right;
    position: relative;
    left: -10px;
    display: block;
}

@mixin sc-skyscraper () {
    min-height: 600px;
    line-height: 0;
    width: 160px;
    display: block;
    position: absolute;
    z-index: 990;
    top: 0;
    padding: 0;
    overflow: hidden;
}
