@import "../variables";
@import "links";

@mixin pagination() {

  list-style: none;
  display: inline-block;
  font-size: 0;
  border-top: 1px solid $black-20;
  border-bottom: 1px solid $black-30;

  li {
    text-align: center;
    line-height: $XXXL;
    height: $XXXL;
    width: $XXXL;

    display: none;

    &.previous-page, &.next-page {
      display: inline-block;
      width: 3*$XXXL;

      a.disabled {
        svg {
          fill: $black-40;
        }
      }
    }

    &.previous-page {
      svg {
        transform: rotate(90deg);
      }
    }

    &.next-page {
      border-right: 1px solid $black-20;
      svg {
        transform: rotate(-90deg);
      }
    }

    &.info-page {
      display: inline-block;
      width: calc(100% - 6*#{$XXXL});
      a {
        padding: 0 10px;
      }
    }

    @include mqmin($viewportM) {
      display: inline-block;

      &.info-page {
        display: none;
      }
    }
  }

  a {
    @include link(M);
    display: block;
    transition: .3s background-color;
    background-color: $white;
    border-left: 1px solid $black-20;

    &:hover {
      background-color: $black-30;
      border-left: 1px solid $black-30;
    }

    &.active {
      pointer-events: none;
      color: $black-100;
      background-color: $black-40;
      border-left: 1px solid $black-30;
    }

    &.disabled {
      pointer-events: none;
      color: $black-40;
    }

    &.info {
      pointer-events: none;
      color: $black-100;
    }

    svg {
      position: relative;
      bottom: 2px;
      fill: $color-link;
      width: 13px;
      height: 7px;
    }
  }
}
