@import "../variables";
@import "links";

@mixin pagination() {

  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0;

  /* CSS Hack, target IE10 and IE11 */
  @media all and (-ms-high-contrast: none) {
    justify-content: flex-start;
  }

  li {
    text-align: center;
    line-height: 48px;
    min-height: 48px;
    min-width: 48px;
    max-width: 52px;
    list-style: none;
    flex: 1 1 auto;
    border-top: 1px solid $black-20;
    border-bottom: 1px solid $black-30;

    &.previous-page, &.next-page {
      min-width: 120px;
      max-width: 140px;

      a.disabled {
        svg {
          fill: $black-40;
        }
      }
    }

    &.previous-page {
      svg {
        transform: rotate(90deg);
      }
    }

    &.next-page {
      border-right: 1px solid $black-20;
      svg {
        transform: rotate(-90deg);
      }
    }

    &.info-page {
      display: none;
    }

    a {
      @include link(M);
      display: block;
      transition: .3s background-color;
      background-color: $white;
      border-left: 1px solid $black-20;

      &:hover {
        background-color: $black-30;
        border-left: 1px solid $black-30;
      }

      &.active {
        pointer-events: none;
        color: $black-100;
        background-color: $black-40;
        border-left: 1px solid $black-30;
      }

      &.disabled {
        pointer-events: none;
        color: $black-40;
      }

      &.info {
        pointer-events: none;
        color: $black-100;
      }

      as24-icon {
        position: relative;
        bottom: 2px;
        fill: $color-link;
        width: 13px;
        height: 7px;
      }
    }

    @include mqminmax($viewportS - 1, 420) {
      display: none;

      &.info-page, &.previous-page, &.next-page {
        display: inline-block;

        a {
          padding: 0 10px;
          white-space: nowrap;
        }
      }
    }

    @include mqmax($viewportS - 2) {
      display: none;

      &.previous-page, &.next-page {
        display: inline-block;
      }
    }
  }
}
