@mixin avoid-selection() {
    //TODO: check if autoprefixer can make this lines obsolete
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

@mixin mqmin($min, $media: all) {
    @media #{$media} and (min-width: $min + 0px) {
        @content;
    }
}

@mixin mqmax($max, $media: all) {
    @media #{$media} and (max-width: $max + 0px) {
        @content;
    }
}

@mixin mqminmax($min, $max, $media: all) {
    @media #{$media} and (min-width: $min + 0px) and (max-width: $max + 0px) {
        @content;
    }
}
