@import "../01-settings/variables";
@import "../02-sass-tools/sass-mq";

@mixin font($size: null, $bold: false, $silent: false, $line-height: null) {
  $font-sizes: (S: 0.8125rem, M: 1rem, L: 1.25rem, XL: 1.5rem, XXL: 1.75rem, XXXL: 1.5rem);

  @if $size {
    font-size: map-get($font-sizes, to-upper_case($size));
    @if $size == S {
      line-height: 1.5;
    } @else if $size == M {
      line-height: 1.5;
    } @else if $size == L {
      line-height: 1.4;
    } @else if $size == XL {
      line-height: 1.3;
    } @else if $size == XXL {
      line-height: 1.25;
    } @else if $size == XXXL {
      line-height: 1.3;
    } @else {
      @error '=> ERROR: FONT HAS WRONG SIZE! <= | Your $font-size #{$font-size} did not match any of the values in the mixin.';
    }
  }

  @if $bold{
    font-weight: 600;
  }
  
  @if $silent{
    color: $black-60;
  }
  
  @if $line-height{
    line-height: $line-height;
  }

  @include mqmin($viewportM) {
    @if $size == XL {
      font-size: 1.75rem; /*28px*/
    } @else if $size == XXL {
      font-size: 2rem; /*32px*/
    } @else if $size == XXXL {
      font-size: 2.5rem; /*40px*/
      line-height: 1.2;
    }
  }
}
/// @param string $size - default size that is used, use the same variables as font mixin
/// @param string $sizeM - font size that is used starting at viewportM, use the same variables as font mixin
/// @param bool $bold - default font weight (true = bold)
/// @param bool $boldM - font weight that is used starting at viewportM
@mixin headline($size, $sizeM, $bold: false, $boldM: false) {
  @include font($size, $bold);
  @if not $bold{
    font-weight: normal;
  }
  
  @include mqmin($viewportM){
    @include font($sizeM, $boldM);
    @if not $boldM{
      font-weight: normal;
    }
  }
}

.sc-font-s{
  @include font(S);
}
.sc-font-m{
  @include font(M);
}
.sc-font-l{
  @include font(L);
}
.sc-font-xl{
  @include font(XL);
}
.sc-font-xxl{
  @include font(XXL);
}
.sc-font-xxxl{
  @include font(XXXL);
}
.sc-font-silent{
  color: $black-60;
}
.sc-font-bold{
  font-weight: 600;
}
.sc-font-uppercase {
  text-transform: uppercase;
}
h1.sc-font{
  padding: 0 $L; //TODO rewrite padding
  
  @include headline(XL, XXL);
}
h2.sc-font{
  @include headline(L, XL, true, true);
}
h3.sc-font{
  @include headline(M, XL, true, false);
}
h4.sc-font{
  @include headline(M, L, false, true);
}
h5.sc-font{
  @include headline(M, M, false, true);
}
