@import '../../../01-settings/variables';

.sc-benefits__container {
  background-color: $white;
  padding: 0 $L;

  @include mqmin($viewportM) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  @include mqmin($viewportL) {
    flex-wrap: nowrap;
    padding: 0 $S;
  }

  .sc-benefit {
    margin-top: $XXXL;

    @include mqmin($viewportM) {
      width: 50%;
      padding: 0 $L;
      margin-top: $XXXXL;
    }

    @include mqmin($viewportL) {
      padding: 0 $S;
    }

    .sc-disruptor {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}
