@import '../../../01-settings/variables';

$sc-disruptor-background-color: $color-highlight-info;

.sc-disruptor {
  display: inline-block;
  vertical-align: middle;
  padding: 2px $S;
  margin: 2px 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  color: $white;
  font-size: $L;
  background-color: $sc-disruptor-background-color;
}
