@import '../../../01-settings/variables';

.sc-anchor-list-group {

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.sc-anchor-list {
  padding-right: $L;
  padding-bottom: $XL;
  max-width: 50%;
  flex: 0 1 50%;
  
  &:nth-child(2n) {
    padding-right: 0; 
  }

  @include mqmin($viewportM) {
    padding-bottom: $XXL;
    max-width: 33.33333%;
    flex: 0 1 33.33333%;

    &:nth-child(2n){
      padding-right: $L; 
    }

    &:nth-child(3n){
      padding-right: 0; 
    }
  }

  @include mqmin($viewportL) {
    max-width: none;
    flex: 0 1 20%;

    &:nth-child(2n){
      padding-right: $L; 
    }

    &:nth-child(3n){
      padding-right: $L;  
    }

    &:nth-child(5n){
      padding-right: 0; 
    }
  }

  &:last-child {
    padding-right: 0; 
  }
}

.sc-anchor-list__title {
  text-transform: uppercase;
  padding-bottom: $L;
  font-weight: bold;
  color: $black-50; 

  @include mqmin($viewportL) {
    padding-bottom: $M;
  }

}

.sc-anchor-list__ul {
  li {
    padding-bottom: $M;

    @include mqmin($viewportL) {
      padding-bottom: $S;
    }

    a {
      width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.sc-anchor-list--with-icon {
  li {
    border-bottom: 1px solid $black-30;
    padding-bottom: $S;
    margin-bottom: $S;

    a {
      display: block;
      position: relative;
      padding-left: calc(#{$S} + 12px);

      &:after {
        position: absolute;
        content: '';
        transform: rotate(270deg);
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAuNSIgaGVpZ2h0PSI2LjI3NjYxMzIiIHZpZXdCb3g9IjAgMCAxMC41IDYuMjc2NjEzMiIgdmVyc2lvbj0iMS4xIj48cGF0aCBkPSJNIDAuMDA0MzY0NTksMC4wMjg0NjM5NyA0LjU3ODg4MzQsNC4yMTkyMDc2IDkuMTUzMjU4OSwwLjAyODgxOTc1IiBzdHJva2Utd2lkdGg9IjEuOTk5NjcwMzkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC42NyAuNzE0KSIgc3Ryb2tlPSIjOTQ5NDk0IiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=');
        background-repeat: no-repeat;
        width: $M;
        height: $M;
        left: 0;
        top: $XS;
      }
    }
  }
}