@import '../../../01-settings/variables';

.sc-unordered-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.sc-unordered-list {
  padding-right: $L;
  padding-bottom: $XL;
  flex: 1 1 50%;
  
  &:nth-child(2n) {
    padding-right: 0; 
  }

  @include mqmin($viewportM) {
    padding-bottom: $XXL;
    flex: 1 1 33.33333%;

    &:nth-child(2n){
      padding-right: $L; 
    }

    &:nth-child(3n){
      padding-right: 0; 
    }
  }

  @include mqmin($viewportL) {
    flex: 1 1 20%;
    max-width: 50%;

    &:nth-child(2n){
      padding-right: $L; 
    }

    &:nth-child(3n){
      padding-right: $L;  
    }

    &:nth-child(5n){
      padding-right: 0; 
    }
  }

  &:last-child {
    padding-right: 0; 
  }
}

.sc-unordered-list__title {
  text-transform: uppercase;
  padding-bottom: $L;
  font-weight: bold;
  color: $black-50; 

  @include mqmin($viewportL) {
    padding-bottom: $M;
  }

}

.sc-unordered-list__ul {
  li {
    padding-bottom: $M;

    @include mqmin($viewportL) {
      padding-bottom: $S;
    }

    a {
      width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}