@import '../../../01-settings/variables';

//TODO remove Multiple Breadcrumbs, mobile is better
@mixin arrow($direction) {
  content: '';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.5' height='6.2766132' viewBox='0 0 10.5 6.2766132' version='1.1'%3E%3Cpath d='M 0.00436459,0.02846397 4.5788834,4.2192076 9.1532589,0.02881975' stroke-width='1.99967039' transform='translate%28.67 .714%29' stroke='%23007cca' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E"); /* stylelint-disable-line string-quotes */
  background-repeat: no-repeat;
  width: 12px;
  margin-top: 5px;
  margin-right: $S;

  @if $direction == 'left' {
    transform: rotate(90deg);
    height: 8px;
  }

  @if $direction == 'right' {
    transform: rotate(-90deg);
    margin-left: $L;
    height: 12px;
  }
}

.sc-breadcrumbs {
  background-color: $white;
  padding-left: $L;
  margin-top: 10px; //give all breadcrumbs a common top margin within all pages

  li {
    display: none;
    margin-top: 10px;

    * {
      display: inline-block;
    }

    &:last-child {
      display: inline-block;
    }

    &:last-child::before {
      @include arrow('left');
    }

    @include mqmin(500px) { // 500px?
      display: inline-block;

      &::after {
        @include arrow('right');
      }

      &:not(:only-child):last-child::before,
      &:last-child::after {
        content: none;
        float: left;
      }
    }
  }

  // Block modifier
  &--viewport-s {
    display: inline-block;

    // Mark the element that should be visible on viewportS
    li.sc-breadcrumb-item--viewport-s {
      display: inline-block;
    }

    @include mqmax(500px) { // 500px?
      li {
        display: none;

        &::before {
          @include arrow('left');
        }

        &::after {
          display: none;
        }

        &:last-child {
          display: none;
        }
      }
    }
  }
}
