@import '../../../01-settings/variables';

$border: 1px solid $black-30;

.sc-table {
  table {
    table-layout: fixed;
    width: 100%;
    border: $border;
    overflow-x: auto;
  }

  tbody {
    tr:last-child td {
      border-bottom: 0 none;
    }
    tr:nth-child(odd) {
      background-color: $black-20;
    }
  }

  td, th {
    padding: $XL $L;
    text-align: left;
    border-bottom: $border;
    border-right: $border;
  }

}

.sc-table__empty {
  border-right: $border;
}

.sc-table__scrollable {
  table {
    table-layout: fixed;
    overflow-x: auto;
    width: 100%;
    display: block;

    thead,
    tbody {
      display: block;
    }

    tr {
      display: flex;
      position: relative;
      
      th,
      td {
        flex-basis: 50%;
        max-width: 50%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-wrap: nowrap;
        display: block;
        background-color: $white;
        &:nth-last-child(1) {
          border-right: 0;
        }
        @include mqmin($viewportM) {
          flex-basis: 33.3333%;
          max-width: 33.3333%;
        }
        @include mqmin($viewportL) {
          flex-basis: 25%;
          max-width: 25%;
        }
      }

      &:nth-child(odd) {
        background-color: $black-20;
        
        td {
          background-color: $black-20;
        }
      }
    }
  }
}

.sc-table__title {
  word-break: break-word;
  color: $black-60;
  border-right: $border;
}
