@import '../../../01-settings/variables';

$border: 1px solid $black-30;

.sc-table {
  table {
    table-layout: fixed;
    width: 100%;
    border: $border;
    overflow-x: auto;
  }

  tbody {
    tr:last-child td {
      border-bottom: 0 none;
    }
    tr:nth-child(odd) {
      background-color: $black-20;
    }
  }

  td, th {
    padding: $XL $L;
    text-align: left;
    border-bottom: $border;
  }

}

.sc-table__empty {
  border-right: $border;
}

.sc-table__scrollable {
  @include mqmax($viewportM - 1) {
    width: 100%;
    overflow-x: scroll;
    border: $border;
  
    table {
      width: auto;
      min-width: 100%;
    }
  }
}

.sc-table__title {
  word-break: break-word;
  color: $black-60;
  border-right: $border;
}
