@import '../../../01-settings/variables';
@import '../../../02-sass-tools/fonts';
@import '../../../02-sass-tools/link';

@mixin sc-navigation-mixin($breakpoint) {
  position: relative;
  background-color: $white;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  border-bottom: solid 1px $black-30;

  .sc-btn-mobile-menu {
    position: absolute;
    transition: 0.2s ease;
    border: 0;
    background-color: transparent;
    outline: 0;
    padding: $S 0;
    margin-top: 1px;
    left: $L;
    max-height: 36px; // to assure IE11 sizes

    @include font(M);

    span {
      vertical-align: middle;
      margin-right: $S;
      position: relative;
      display: inline-block;
      width: 20px;
      height: 2px;
      background-color: $black-60;
      top: -2px;
      transition: background-color 0.1s;

      &::before,
      &::after {
        transition: 0.2s ease-in-out;
        position: absolute;
        background: $black-60;
        content: '';
        width: 20px;
        height: 2px;
        left: 0;
      }

      &::before {
        top: -6px;
      }

      &::after {
        top: 6px;
      }
    }
  }

  hr {
    position: relative;
    top: 1px;
    border: 0;
    border-bottom: 1px solid $black-30;
  }

  nav {
    z-index: 130;
    transition: max-height 0.5s ease-out;
    max-height: 0;
    overflow: hidden;

    & > ul {
      margin-top: $M;
      padding: $M $L $L $L;
      border-top: 1px solid $black-30;
    }

    li {
      position: relative;
      margin-right: -20px;
      padding-right: 20px;
    }

    /* Special empty li separator */
    li.separator {
      box-sizing: border-box;
      height: 1px;
      margin: $M 0;
      width: 209px; // remove the width
      border-top: 1px solid #dcdcdc;
    }

    a {
      display: block;
      padding: $S 0;
      text-decoration: none;

      @include link(M, $variant: black);
    }

    li ul {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;

      .subheadline {
        color: $black-60;
        font-size: $M;

        &:hover {
          cursor: default;
        }
      }
    }
    li.open {
      color: $coral;

      ul {
        max-height: 2000px;

        &.submenu {
          // [$breakpoint => $viewportXL] display submenu vertical
          @media screen and (min-width: $breakpoint) and (max-width: $viewportXL) {
            white-space: normal;
          }

          // [$viewportXL => ...] display submenu vertical
          @media screen and (min-width: $viewportXL) {
            white-space: nowrap;
          }
        }
      }
    }

    li ul a {
      margin-left: $XL;
    }

    span.title {
      cursor: pointer;
      padding: $S 0;
      display: inline-block;
      outline: 0;
      position: relative;
      transition: color $transition-time ease;
      &::after {
        content: '';
        position: absolute;
        outline: 0;
        right: 0;
        margin-top: 6px;
        width: 12px;
        height: 12px;
        background: url("data:image/svg+xml,%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23333333;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st1%7Bfill:none;stroke:%23333333;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st2%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23333333;%7D .st3%7Bfill:%23333333;%7D .st4%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23333333;stroke:%23333333;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st5%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23C6C6C6;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st6%7Bfill:none;stroke:%23C6C6C6;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st7%7Bfill:none;stroke:%23333333;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7D .st8%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%2395C11F;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st9%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23E30613;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpath class='st3' d='M12,18c-0.3,0-0.5-0.1-0.7-0.3l-8-8c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l7.3,7.3l7.3-7.3c0.4-0.4,1-0.4,1.4,0 s0.4,1,0,1.4l-8,8C12.5,17.9,12.3,18,12,18z'/%3E%3C/svg%3E")
          no-repeat center center;
        color: $black-100;
      }
    }

    span.subtitle {
      position: absolute;
      left: 0;
      padding-left: 24px;
      top: 47px; // Could be adjusted. Position relative to wrapping <li>
      height: $M + 4; // keep limited for hidden overflow
      color: $black-60;
      font-size: $M;
      overflow-x: hidden;
    }

    /* stylelint-disable-next-line no-duplicate-selectors */
    > ul {
      border: none;
    }

    > hr {
      margin: 0 16px;
    }

    ul {
      li {
        &:hover,
        &.open {
          span.title {
            color: $coral;
            &::after {
              background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23f90038stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st1%7Bfill:none;stroke:%23f90038stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st2%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23f90038%7D .st3%7Bfill:%23f90038%7D .st4%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23f90038stroke:%23f90038stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st5%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23C6C6C6;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st6%7Bfill:none;stroke:%23C6C6C6;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st7%7Bfill:none;stroke:%23f90038stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7D .st8%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%2395C11F;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st9%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23E30613;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpath class='st3' d='M12,18c-0.3,0-0.5-0.1-0.7-0.3l-8-8c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l7.3,7.3l7.3-7.3c0.4-0.4,1-0.4,1.4,0 s0.4,1,0,1.4l-8,8C12.5,17.9,12.3,18,12,18z'/%3E%3C/svg%3E");
            }
          }
        }
      }
    }

    &:hover,
    &:active,
    &:focus {
      li:hover {
        cursor: pointer;
        span.title {
          color: $coral;
          &::after {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23f90038stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st1%7Bfill:none;stroke:%23f90038stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st2%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23f90038%7D .st3%7Bfill:%23f90038%7D .st4%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23f90038stroke:%23f90038stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st5%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23C6C6C6;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st6%7Bfill:none;stroke:%23C6C6C6;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st7%7Bfill:none;stroke:%23f90038stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7D .st8%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%2395C11F;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st9%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23E30613;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpath class='st3' d='M12,18c-0.3,0-0.5-0.1-0.7-0.3l-8-8c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l7.3,7.3l7.3-7.3c0.4-0.4,1-0.4,1.4,0 s0.4,1,0,1.4l-8,8C12.5,17.9,12.3,18,12,18z'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }

  &.open {
    .sc-btn-mobile-menu {
      color: $coral;

      span {
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(3px, 5px);
          background: $coral;
        }

        &::after {
          transform: rotate(-45deg) translate(3px, -6px);
          background: $coral;
        }
      }
    }

    nav {
      max-height: 2200px;
      transition: max-height 0.5s ease-in;
    }
  }

  .bar {
    margin: 9px 0 7px;
    text-align: center;
    height: 40px;

    .icon-auto24,
    as24-icon {
      width: 75px;
      height: 35px;
      background-size: contain;
      display: inline-block;
    }

    @media screen and (min-width: $breakpoint) {
      .icon-auto24,
      as24-icon {
        width: 85px;
        height: 39px;
        margin-top: 0;
      }
    }
  }

  /* ... => $breakpoint*/
  @media screen and (max-width: $breakpoint - 1px) {
    nav {
      .title {
        display: inline-block;
        width: 100%;
      }

      /* Currently subtitles not visible on small */
      span.subtitle {
        display: none;
      }

      /* top level a */
      > ul > li > a,
      /* top level spans */
      li > span.title,
      /* sublists */
      li > ul {
        padding-left: 10px;
      }

      > ul {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;

        &:last-child {
          padding-bottom: $L;
        }

        /* direct children on top level */
        > li {
          /* draw line between top level li */
          &:before {
            margin: $S 0;
            height: 1px;
            line-height: 1px;
            width: 100%;
            font-size: 0;
            display: block;
            border-top: 1px solid #dcdcdc;
            content: ' ';
          }
        }
      }

      /* Adjust icon opening submenu */
      span.title:after {
        margin-right: $L;
      }

      /* increase padding for sublevel items */
      ul.submenu a {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      /* increase padding for sublevel headings */
      li.subheadline {
        padding: 5px;
      }
    }

    .right {
      right: 0;

      & > li {
        position: relative;
      }

      li.open {
        ul {
          right: 0;
          left: auto;
        }
      }

      li {
        a::after {
          content: none;
        }
      }
    }

    .login-teaser {
      display: none !important;
    }
  }

  /* $breakpoint=> ... */
  @media screen and (min-width: $breakpoint) {
    height: 70px;
    width: 100%;
    overflow: visible;
    display: inline-block;

    .sc-btn-mobile-menu {
      display: none;
    }

    .bar {
      text-align: left;
      margin: 15px $L 14px;
    }

    nav {
      position: relative;
      max-height: 1px;
      overflow: visible;

      & > ul {
        padding: 0;
      }

      span.title {
        padding: 0;
        &::after {
          right: -18px;
        }
      }

      > ul > li > a {
        padding: 0;
      }

      > hr {
        display: none;
      }

      /* stylelint-disable-next-line no-duplicate-selectors */
      > ul {
        margin-left: 120px;
      }

      ul {
        position: absolute;
        top: -82px;
        border: none;
        max-height: 0;

        ul {
          transition: none;
        }

        li {
          display: inline-block;
          padding: 24px 40px 24px 24px;
          border: 1px solid transparent;
          border-width: 0 1px;
          margin: 0 -1px;

          a:hover,
          a:active,
          a:focus,
          li.active-item > a {
            color: $coral;
          }
        }

        /* Display only one link within li, clean padding taken by icon */
        li.link-only {
          padding: 24px;
        }

        /* Change direction of ul.submenu */
        li.left {
          ul.submenu {
            right: 0;
            left: auto;
          }
        }

        li.open {
          box-sizing: border-box;
          border: 1px solid $black-30;
          border-width: 0 1px;
          position: relative;
          margin: 0 -1px;

          .login-teaser {
            position: absolute;
            max-width: 100px;
          }

          .btn-login {
            margin-top: $XXXL;
          }

          span.title {
            color: $coral;
          }

          &::before {
            content: '';
            height: 2px;
            background-color: white;
            width: 100%;
            position: absolute;
            bottom: -1px;
            left: 0;
            z-index: 100;
          }

          > ul {
            transition: max-height 1s ease-out;
            max-height: 1000px;
            background-color: white;
            top: 70px;
            border: 1px solid $black-30;
            left: 0;
            margin-left: -1px;
            margin-right: -1px;
            padding: 12px 24px;

            li {
              float: none;
              display: block;
              padding: 0;

              a {
                white-space: nowrap;
                margin: 0;
              }
            }
          }

          ul.submenu {
            > li {
              ul {
                position: static;

                a {
                  margin: 0 1px 1px 1px;
                }

                li:first-child {
                  padding: 8px 0;
                }
              }

              vertical-align: top;
              display: inline-block;
              margin-left: 0;
              padding-right: 24px;
            }
          }
        }
      }

      .right {
        right: 0;
        li.open {
          ul {
            right: 0;
            left: auto;
          }
        }
      }
    }
    // @content;
  }
}

.sc-navigation {
  @include sc-navigation-mixin(923px);
}
