@import '../../../01-settings/variables';
@import '../../../02-sass-tools/sass-mq';

.sc-search-mask {
  text-align: center;
  border-bottom: 1px solid $black-30;
}

.sc-search-options {
  text-align: left;
  padding-bottom: $L;
}

.sc-search-tabs {
  display: flex;
  align-items: flex-end;

  @include mqmin($viewportM) {
    max-width: 440px;
  }
}

.sc-search-filters {
  background-color: $white;
  padding: $XL $L;
}

.sc-search-tab {
  background-color: $white;
  height: 36px;
  padding-top: $M;
  width: 25%;
  opacity: .9;
  margin-bottom: 1px;
  margin-right: 1px;

  as24-icon {
    width: 36px;
    height: $L;
    display: inline-block;
  }

  &:last-child {
    margin-right: 0;
  }
}

.sc-search-tab--active {
  opacity: 1;
  height: 45px;
  padding-top: 21px;
  margin-bottom: 0;

  as24-icon svg g {
    fill: $orange-100;
  }
}

.sc-search-link {
  display: inline-block;
  padding: $L 0;
}

.sc-search-mask .sc-input {
  margin-bottom: $S;
}

.sc-search-mask input.sc-input::placeholder {
  color: $black-100;
}

