@import '../../../01-settings/variables';
@import '../../../02-sass-tools/sass-mq';

.sc-search-mask {
  text-align: center;
  border-bottom: 1px solid $black-30;
}

.sc-search-options {
  text-align: left;
  padding-bottom: $L;
}

.sc-search-content {
  background-color: $white;
  padding: $XL $L;
}

.sc-search-link {
  display: block;
  padding: $L 0;

  @include mqmin($viewportM) {
    padding: 9px 0;
    text-align: left;
  }
}

.sc-search-mask .sc-input {
  margin-bottom: $S;
}

// TODO: input styles are overwriting width
.sc-search-mask input.sc-input {
  width: 98.56631%;

  @include mqmin($viewportM) {
    width: 48.56631%;
  }
}

.sc-search-mask input.sc-input::placeholder {
  color: $black-100;
}

.sc-search-content__actions {
  @include mqmin($viewportM) {
    display: flex;
    flex-direction: row-reverse;
    padding-top: $L;
  }
}
