@import '../../../01-settings/variables';
@import '../../../02-sass-tools/sass-mq';
@import '../../../05-layout/grid';

.sc-lightbox-container.sc-visible {
  display: flex !important;
  flex-direction: column;
}

.sc-lightbox-content {
  overflow: auto;
  padding: 0 $L;
}

.sc-lightbox-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: $form-border-radius;
  background-color: $white;
  padding: $L 0;
  z-index: 140; // overlay header
  max-height: calc(100vh - 80px);

  @include mqmin($viewportXL) {
    width: 550px;
  }

  @include mqminmax($viewportM, $viewportXL - 1) {
    @include span(6);
  }

  @include mqmax($viewportM - 1) {
    width: 288px;
    max-height: calc(100vh - 120px);
  }

  h5 {
    font-weight: 700;
    padding-right: 25px;
  }
}

.sc-lightbox-scroll {
  @include mqmin($viewportM) {
    overflow-y: hidden;
  }
}

.sc-lightbox-close {
  height: 32px;
  width: 32px;
  line-height: $XL;
  padding: $S;
  display: inline-block;
  position: absolute;
  top: $L;
  right: $L;
  background: $white;
  border: 1px solid $black-30;
  cursor: pointer;
  border-radius: $XS;
  transition: border-color .2s;

  &:before, &:after {
    $width: 21px;
    $height: 2px;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$height/2;
    margin-left: -$width/2;
    display: block;
    height: $height;
    width: $width;
    background-color: $black-30;
    transition: all 0.25s ease-out;
  }

  &:after {
    transform: rotate(-133deg);
  }
}

.sc-lightbox-close:hover {
  border-color: $black-90;
}

.sc-lightbox-close:hover:before,
.sc-lightbox-close:hover:after {
  background-color: $black-90;
}

.sc-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 139; // less than modal window by one
  opacity: 0;
  transition: opacity .1s ease;
}

.sc-fade-in {
  opacity: 1;
}
