@import '../../../01-settings/variables';
@import '../../../02-sass-tools/sass-mq';
@import '../../../05-layout/grid';

.sc-lightbox-container.sc-visible {
  display: flex !important;
  flex-direction: column;
}

.sc-lightbox-content {
  overflow: scroll;
  padding: 0 $L;
}

.sc-lightbox-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: $form-border-radius;
  background-color: $white;
  padding: $L 0;
  z-index: 140; // overlay header
  max-height: calc(100vh - 80px);

  @include mqmin($viewportXL) {
    width: 550px;
  }

  @include mqminmax($viewportM, $viewportXL - 1) {
    @include span(6);
  }

  @include mqmax($viewportM - 1) {
    width: 288px;
    max-height: calc(100vh - 120px);
  }

  h5 {
    font-weight: 700;
    padding-right: 25px;
  }
}

.sc-lightbox-scroll {
  @include mqmin($viewportM) {
    overflow-y: hidden;
  }
}

.sc-lightbox-close {
  $size: 21px;
  height: $size;
  width: $size;
  line-height: $size;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: -26px;
  width: 16px;
  background: transparent;
  border: none;
  cursor: pointer;

  &:before, &:after {
    $width: 21px;
    $height: 3px;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$height/2;
    margin-left: -$width/2;
    display: block;
    height: $height;
    width: $width;
    background-color: #fff;
    transition: all 0.25s ease-out;
  }

  &:after {
    transform: rotate(-135deg);
  }
  @include mqmin($viewportXL) {
    &:hover {
      &:before, &:after {
        transform: rotate(0deg);
      }
    }
  }
}

.sc-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 139; // less than modal window by one
  opacity: 0;
  transition: opacity .1s ease;
}

.sc-fade-in {
  opacity: 1;
}
