@import '../../../01-settings/variables';
@import '../../../02-sass-tools/sass-mq';
@import '../../../05-layout/grid';

/** LEAGACY CODE - REMOVE **/
.sc-lightbox-container.sc-visible {
  display: flex !important;
  flex-direction: column;
}

.sc-lightbox-content {
  max-height: calc(100vh - 120px);
  overflow: auto;
  padding: 0 $XXL;
}

.sc-lightbox-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: $form-border-radius;
  background-color: $white;
  padding: $XL 0;
  z-index: 140; // overlay header
  max-height: calc(100vh - 80px);

  @include mqmin(582px) {
    width: 550px;
  }

  @include mqmax(582px - 1) {
    width: calc(100% - 32px);
    max-height: calc(100vh - 120px);
  }

  h5 {
    padding-right: 25px;
  }
}

.sc-lightbox-container.sc-temporary-visible { //remove
  display: flex !important;
  flex-direction: column;
}

.sc-lightbox-close {
  height: 32px;
  width: 32px;
  line-height: $XL;
  padding: $S;
  display: inline-block;
  position: absolute;
  top: $L;
  right: $L;
  background: $white;
  border: 1px solid $black-30;
  cursor: pointer;
  border-radius: $XS;
  transition: border-color .2s;
  z-index: 1;
}

.sc-lightbox-close as24-icon {
  pointer-events: none;
}

.sc-lightbox-close svg {
  transition: fill .2s;
  fill: $black-60;
  width: $M;
  height: $M;
}

.sc-lightbox-close:hover {
  border-color: $black-90;
}

.sc-lightbox-close:hover svg {
  fill: $black-90;
}

.sc-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 139; // less than modal window by one
  opacity: 0;
  transition: opacity .1s ease;
}

.sc-fade-in {
  opacity: 1;
}
/**** LEAGACY CODE - REMOVE ****/

.sc-lightbox__container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: $form-border-radius;
  background-color: $white;
  padding: $XL 0;
  z-index: 140; // overlay header
  max-height: calc(100vh - 80px);

  @include mqmin(582px) {
    width: 550px;
  }

  @include mqmax(582px - 1) {
    width: calc(100% - 32px);
    max-height: calc(100vh - 120px);
  }

  h5 {
    padding-right: 25px;
  }
}

.sc-unscroll {
  overflow-y: hidden !important;
}

.sc-lightbox__container--visible {
  display: flex;
}

.sc-lightbox__content {
  max-height: calc(100vh - 120px);
  overflow: auto;
  padding: 0 $XXL;
}

.sc-lightbox__close {
  height: 32px;
  width: 32px;
  line-height: $XL;
  padding: $S;
  display: inline-block;
  position: absolute;
  top: $L;
  right: $L;
  background: $white;
  border: 1px solid $black-30;
  cursor: pointer;
  border-radius: $XS;
  transition: border-color .2s;
  z-index: 1;
}

.sc-lightbox__close as24-icon {
  pointer-events: none;
}

.sc-lightbox__close svg {
  transition: fill .2s;
  fill: $black-60;
  width: $M;
  height: $M;
}

.sc-lightbox__close:hover {
  border-color: $black-90;
}

.sc-lightbox__close:hover svg {
  fill: $black-90;
}

.sc-lightbox__overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 139; // less than modal window by one
  opacity: 0;
  transition: opacity .1s ease;
}

.sc-lightbox__overlay--visible {
  display: block;
}

.sc-lightbox--fadein {
  opacity: 1;
}
