@import "../../../01-settings/variables";
@import "../../../02-sass-tools/sass-mq";
@import "../../../06-components/atoms/link/link";
@import "../../../06-components/atoms/rotating-arrow/rotating-arrow";

$spy-height: 55px;

@mixin visibleOnML {
  opacity: 1;
  transform: translateY(0);
}

@mixin visibleOnS {
  opacity: 1;
  transform: translateY(-$spy-height);
}

.sc-spy-navigation {
  $nav: &;
  box-sizing: border-box;
  max-width: $viewportXL;
  border-bottom: 1px solid $black-30;
  position: relative;
  background-color: white;

  &:before {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &--expanded {
    #{$nav}__links {
      height: #{$spy-height - 1};
      @include mqmax($viewportM) {
        border-bottom: 1px solid $black-30;
      }
    }

    #{$nav}__wrapper {
      overflow-y: visible;
      overflow-x: visible;
    }

    #{$nav}__link {
      position: static;
      padding: 12px $L 14px;
      @include visibleOnML;
      &:first-child {
        position: static;
        padding: $L $L 14px;
        @include visibleOnML;
      }

      &:nth-child(2){
        padding: $L $L 14px;
      }

      &:last-child{
        padding: 12px $L $L;
      }

      @include mqmin($viewportM) {
        padding: $L 24px 13px 24px;

        &:first-child {
          padding: $L 24px 13px $L;
        }

        &:nth-child(2){
          padding: $L 24px 13px 24px;
        }

        &:last-child {
          padding: $L $L 13px 24px;
        }
      }
    }

    #{$nav}__toggle {
      &:after {
        @include rotating-arrow('up');
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23ff7500%22%20d%3D%22M16.363%206.11L10%2012.476%203.636%206.11l-.707.708%206.363%206.364.707.707.707-.708%206.363-6.364z%22/%3E%3C/svg%3E');
      }

      &--visible {
        height: $spy-height;
        border-left: 1px solid $black-30;
      }

      &__text {
        color: $orange-100;
      }
    }
  }

  &--sticked {
    position: fixed;
    width: 100%;
    max-width: $viewportXL;
    top: 0;
    background-color: white;
    z-index: 21;

    &:before {
      box-shadow: 0 3px 6px -2px rgba(0,0,0,.15);
    }

    #{$nav}__links {
      background: white;
      @include mqmax($viewportM) {
        border-bottom: 1px solid $black-30;
      }
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
    height: #{$spy-height - 1};
  }

  &__toggle {
    $toggle: &;

    position: absolute;
    top: 0;
    right: 0;
    height: $spy-height;
    padding: $L $L #{$M+1};

    @include mqmax(#{$viewportM - 1}) {
      width: $spy-height;
    }

    @include mqmin($viewportM) {
      visibility: hidden;
    }

    &:after {
      position: absolute;
      margin-top: 2px;
      right: $L;
      top: $L;
      @include rotating-arrow('down');
    }

    &:hover {
      &:after {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23ff7500%22%20d%3D%22M16.363%206.11L10%2012.476%203.636%206.11l-.707.708%206.363%206.364.707.707.707-.708%206.363-6.364z%22/%3E%3C/svg%3E');
      }
      #{$toggle}__text {
        color: $orange-100;
      }
    }

    &__text {
      visibility: hidden;
    }

    &--visible {
      visibility: visible !important;
      width: auto;
      background: white;
      #{$toggle}__text {
        visibility: visible;
        margin-right: $XXL;
        cursor: pointer;
      }
    }
  }

  &__links {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    @include mqmin($viewportM) {
      width: auto;
    }
  }

  &__link {
    $link: &;

    @include link(M, $variant: black);
    display: block;
    position: absolute;
    padding: 12px $L 12px;
    border-bottom: 2px solid transparent;
    transition: color .2s ease-in;
    background: white;
    top: 100%;
    width: 100%;
    opacity: 0;

    &:first-child {
      padding: $L $L 14px;
      @include visibleOnS;
    }

    &:nth-child(2){
      padding: $L $L 14px;
    }

    &:last-child{
      padding: 12px $L $L;
    }

    @include mqmin($viewportM) {
      @include visibleOnML;
      display: inline-block;
      padding: $L 24px 14px 24px;
      position: static;
      width: auto;

      &:first-child {
        @include visibleOnML;
        padding: $L 24px 14px $L;
      }

      &:nth-child(2){
        padding: $L 24px 14px 24px;
      }

      &:last-child {
        @include visibleOnML;
        padding: $L $L 14px 24px;
      }
    }

    &--active {
      color: $orange-100;
      border-bottom: 2px solid $orange-100 !important;
      padding-top: 14px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;

      &:first-child,
      &:last-child {
        padding-top: 14px;
        padding-bottom: 16px;
        padding-left: $L;
        padding-right: $L;
      }

      @include visibleOnS;

      @include mqmin($viewportM) {
        @include visibleOnML;
        padding-bottom: 14px;

        &:first-child {
          padding-left: 16px;
          padding-right: 24px;
        }

        &:first-child,
        &:last-child {
          padding-bottom: 14px;
        }

        &:last-child {
          padding-left: 24px;
          padding-right: 16px;
        }
      }
    }
  }
}
