@import '../../../01-settings/variables';

custom-dropdown.sc-input {
  padding: 0;
  position: relative;
  background-color: $white;
  display: block;

  &[disabled=''] {
    opacity: 0.55;
    cursor: not-allowed;

    div:first-child {
      pointer-events: none;
    }
  }

  &:hover {
    border-color: $black-100;
    transition: all .2s ease-in;
  }

  div:first-child {
    padding: $XS $M;
    width: 100%;
    height: $XXXL;

    & > p {
      user-select: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      overflow: hidden;
      padding-right: 26px;
      padding-top: 3px;

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.5' height='6.2766132' viewBox='0 0 10.5 6.2766132' version='1.1'%3E%3Cpath d='M 0.00436459,0.02846397 4.5788834,4.2192076 9.1532589,0.02881975' stroke-width='1.99967039' transform='translate%28.67 .714%29' stroke='%23949494' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E"); /* stylelint-disable-line string-quotes */
        background-repeat: no-repeat;
        background-color: #fff;
        background-position: 6px center;

        position: absolute;
        top: 6px;
        bottom: $form-border-radius;
        right: $form-border-radius;
        content: '';
        width: 26px;
      }
    }
  }

  &.sc-open {
    div:first-child {
      border: 1px solid $blue-80;
      box-shadow: inset 0 0 0 1px $blue-80;
      border-top-left-radius: $XS;
      border-top-right-radius: $XS;
      width: calc(100% + 2px);
      position: relative;
      top: -1px;
      left: -1px;
      background-color: $white;
    }

    div:first-child::after {
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      left: 1px;
      right: 1px;
      border-bottom: 1px solid $black-40;
    }
  }

  & > div:last-child {
    display: none;
    position: relative;
    top: -1px;
    left: -1px;
    background-color: $white;
    border: 2px solid $blue-80;
    border-radius: 0 0 $XS $XS;
    border-top: 0;
    width: calc(100% + 2px);
    z-index: 1;
    padding: $S $M $M $M;
    margin-top: -1px;

    label {
      padding-top: 1px;
    }
  }

  &.sc-open > div:last-child {
    display: block;
  }

  &.sc-scrollable {
    div:last-child {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 150px;
    }
  }

  div label {
    margin-top: $S;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

}