@import '../../../01-settings/variables';
@import '../../../02-sass-tools/sass-mq';

.sc-tabs--with-text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include mqmax($viewportM - 1) {
    display: block;
  }
}

.sc-tab {
  order: 1;
  flex-grow: 1;
  height: 51px;
  background-color: $white;
  margin: 7px 0 3px 3px;
  border: none;
  -webkit-tap-highlight-color: transparent; // to prevent default blinking behavior

  &:first-child {
    margin-left: 0;
  }

  @include mqmax($viewportM - 1) {
    display: block;
    width: 100%;
    margin: 3px 0;
    border-bottom: 1px solid $black-30;
  }
}

.sc-tab--with-text--active {
  margin-bottom: 0;
  margin-top: 4px;
  height: 57px;
  color: $orange-100;
  outline: none; // to prevent bottom line

  @include mqmax($viewportM - 1) {
    border-bottom: none;
    margin-top: 0;
    height: 51px;
  }
}

.sc-tabs__content {
  order: 2;
  width: 100%;

  @include mqmax($viewportM - 1) {
    border-bottom: 1px solid $black-30;
  }
}
