.sc-tabs--with-text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sc-tab {
  order: 1;
  width: 33%;
  height: 51px;
  background-color: white;
  margin: 3px 0 3px 3px;

  button {
    border: none;
  }

  &:first-child {
    margin-left: 0;
  }
}

.sc-tab--with-text--active {
  margin-bottom: 0;
  height: 54px;
}

.sc-tabs__content {
  order: 2;
  width: 100%;
}
