---
title: Buttons
nav-index: 5
---
<div>
    <a name="buttons"></a>
    <h2>Buttons</h2>
    <p>ShowCar uses two types of buttons <code>.sc-btn-bob-&lt;size&gt;</code> and <code>.sc-btn-ross-&lt;size&gt;</code> in two different sizes (<code>l</code>and <code>m</code>)</p>
    <p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element</p>
    <p><code>.sc-btn-block</code> adds block style to a button, which stretches the button to full width.</p>

    <div class="example example-buttons">
        <div>
            <button class="sc-btn-bob-m">.sc-btn-bob-m</button>
            <button class="sc-btn-ross-m">.sc-btn-ross-m</button>
            <a class="sc-btn-bob-m">a .sc-btn-ross-m</a>
            <a class="sc-btn-ross-m">a .sc-btn-ross-m</a>
        </div>
        <div>
            <button class="sc-btn-bob-l">.sc-btn-bob-l</button>
            <button class="sc-btn-ross-l">.sc-btn-ross-l</button>
            <a class="sc-btn-bob-l">a .sc-btn-ross-l</a>
            <a class="sc-btn-ross-l">a .sc-btn-ross-l</a>
        </div>
        <div>
            <button class="sc-btn-bob-m" disabled>disabled</button>
            <button class="sc-btn-ross-m" disabled>disabled</button>
        </div>
        <div>
            <button class="sc-btn-bob-m sc-btn-block">.sc-btn-bob-m.sc-btn-block</button>
            <button class="sc-btn-ross-l sc-btn-block">.sc-btn-ross-l.sc-btn-block</button>
        </div>
    </div>
    <pre><code class="html js-format-code">
<!--
<button class="sc-btn-bob-m">.sc-btn-bob-m</button>
<button class="sc-btn-ross-m">.sc-btn-ross-m</button>
<button class="sc-btn-bob-l">.sc-btn-bob-l</button>
<button class="sc-btn-ross-l">.sc-btn-ross-l</button>
<button class="sc-btn-bob-m" disabled>disabled</button>
<button class="sc-btn-ross-m" disabled>disabled</button>
<button class="sc-btn-bob-m sc-btn-block">.sc-btn-bob-m.sc-btn-block</button>
<button class="sc-btn-ross-l sc-btn-block">.sc-btn-ross-l.sc-btn-block</button>
-->
    </code></pre>
</div>
