---
title: Typography
nav-index: 6
sub-nav:
- Headlines
- Body copy
- Links
---
<div>
    <a name="typography"></a>
    <h2>Typography</h2>
    <p>
        ShowCars default <code>font-family</code> is <span class="sc-font-bold">Source Sans Pro</span>. Please use the
        predefined classes to increase or decrease the font size. You should not define explicit font sizes.
        To use the Source Sans Pro font, you don't have to do anything. It is loaded with the showcar-ui library using a technic called
        <a href="https://www.npmjs.com/package/fontfaceobserver" target="_blank">font-face observer</a>.
    </p>
    <a name="headlines"></a>
    <h3>Headlines</h3>
    <div class="example example-body-copy">
        <h1 class="sc-font">Lorem ipsum dolor sit amet (h1.sc-font)</h1>
    </div>
    <pre><code class="html js-format-code">
<!--
<h1 class="sc-font">...</h1>
-->
    </code></pre>

    <a name="body-copy"></a>
    <h3>Body copy</h3>

    <div class="example example-body-copy">
        <p class="sc-font-s">.sc-font-s<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-m">.sc-font-m (default)<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-l">.sc-font-l<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-xl">.sc-font-xl<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-xxl">.sc-font-xxl<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-xxxl">.sc-font-xxxl<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-silent">.sc-font-silent<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-bold">.sc-font-bold<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
    <pre><code class="html js-format-code">
<!--
<p class="sc-font-m">...</p>
<p class="sc-font-s">...</p>
<p class="sc-font-l">...</p>
<p class="sc-font-xl">...</p>
<p class="sc-font-silent">...</p>
<p class="sc-font-bold">...</p>
-->
    </code></pre>

    <a name="links"></a>
    <h3>Links</h3>
    <div class="example example-links">
        <div>
            <a>Default Link</a>
        </div>
        <div>
            <a class="sc-inline-link">Inline Link</a>
        </div>
    </div>
    <pre><code class="html js-format-code">
<!--
<a href="...">...</a>
<a href="..." class="sc-inline-link">...</a>
-->
    </code></pre>
</div>
