---
title: Typography
nav-index: 6
sub-nav:
- Headlines
- Body copy
- Links
---
<div>
    <a name="typography"></a>
    <h2>Typography</h2>
    <p>
        ShowCars default <code>font-family</code> is <span class="sc-font-bold">Source Sans Pro</span>. Please use the
        predefined classes to increase or decrease the font size. You should not define explicit font sizes.
        To use the Source Sans Pro font, you don't have to do anything.
    </p>
    <a name="headlines"></a>
    <h3>Headlines</h3>
    <p>
        ShowCarUI provides responsive font sizes for headlines <code>h1</code> - <code>h5</code>, you simply need to
        add the class <code>.sc-font</code> to the corresponding tag. To see the difference between small and larger
        viewports, simple resize the browser and see the following example.
    </p>
    <div class="table-typography-wrapper">
        <table class="docs-table docs-table-typography-headlines">
            <thead>
                <tr>
                    <th></th>
                    <th>viewport &lt; M (768px)</th>
                    <th>viewport &#8805; M (768px)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>h1.sc-font</code></td>
                    <td><code>XL</code> (24px)</td>
                    <td><code>XXL</code> (32px)</td>
                </tr>
                <tr>
                    <td><code>h2.sc-font</code></td>
                    <td><code>L</code> (20px), <span class="sc-font-bold">bold</span></td>
                    <td><code>XL</code> (24px), <span class="sc-font-bold">bold</span></td>
                </tr>
                <tr>
                    <td><code>h3.sc-font</code></td>
                    <td><code>M</code> (16px), <span class="sc-font-bold">bold</span></td>
                    <td><code>XL</code> (24px)</td>
                </tr>
                <tr>
                    <td><code>h4.sc-font</code></td>
                    <td><span class="sc-font-silent">default</span></td>
                    <td><code>L</code> (20px), <span class="sc-font-bold">bold</span></td>
                </tr>
                <tr>
                    <td><code>h5.sc-font</code></td>
                    <td><span class="sc-font-silent">default</span></td>
                    <td><code>M</code> (16px), <span class="sc-font-bold">bold</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="example example-headlines">
        <h1 class="sc-font">Lorem ipsum dolor sit amet (h1.sc-font)</h1>
        <h2 class="sc-font">Lorem ipsum dolor sit amet (h2.sc-font)</h2>
        <h3 class="sc-font">Lorem ipsum dolor sit amet (h3.sc-font)</h3>
        <h4 class="sc-font">Lorem ipsum dolor sit amet (h4.sc-font)</h4>
        <h5 class="sc-font">Lorem ipsum dolor sit amet (h5.sc-font)</h5>
    </div>
    <pre><code class="html js-format-code">
<!--
<h1 class="sc-font">...</h1>
<h2 class="sc-font">...</h2>
<h3 class="sc-font">...</h3>
<h4 class="sc-font">...</h4>
<h5 class="sc-font">...</h5>
-->
    </code></pre>

    <a name="body-copy"></a>
    <h3>Body copy</h3>
    <p>several helper classes for font styling are available, the font sizes follow simple T-Shirt sizes.</p>
    <div class="table-typography-wrapper sc-clearfix">
        <table class="docs-table docs-table-typography-fonts">
            <thead>
                <tr>
                    <th>class</th>
                    <th>font-size</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>.sc-font-s</code></td>
                    <td>0.75rem (12px)</td>
                </tr>
                <tr>
                    <td><code>.sc-font-m</code></td>
                    <td>1rem (16px)</td>
                </tr>
                <tr>
                    <td><code>.sc-font-l</code></td>
                    <td>1.25rem (20px)</td>
                </tr>
                <tr>
                    <td><code>.sc-font-xl</code></td>
                    <td>1.5rem (24px)</td>
                </tr>
                <tr>
                    <td><code>.sc-font-xxl</code></td>
                    <td>2rem (32px)</td>
                </tr>
                <tr>
                    <td><code>.sc-font-xxxl</code></td>
                    <td>2.5rem (40px)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="example example-body-copy">
        <p class="sc-font-s">.sc-font-s<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-m">.sc-font-m (default)<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-l">.sc-font-l<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-xl">.sc-font-xl<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-xxl">.sc-font-xxl<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-xxxl">.sc-font-xxxl<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-silent">.sc-font-silent<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <p class="sc-font-bold">.sc-font-bold<br />Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>
    <pre><code class="html js-format-code">
<!--
<p class="sc-font-m">...</p>
<p class="sc-font-s">...</p>
<p class="sc-font-l">...</p>
<p class="sc-font-xl">...</p>
<p class="sc-font-silent">...</p>
<p class="sc-font-bold">...</p>
-->
    </code></pre>

    <a name="links"></a>
    <h3>Links</h3>
    <div class="example example-links">
        <div>
            <a>Default Link</a>
        </div>
        <div>
            <a class="sc-inline-link">Inline Link</a>
        </div>
    </div>
    <pre><code class="html js-format-code">
<!--
<a href="...">...</a>
<a href="..." class="sc-inline-link">...</a>
-->
    </code></pre>
</div>
