---
title: Variables
nav-index: 1
sub-nav:
- Colors
- Spacings
- Viewports
---
<div>
    <a name="variables"></a>
    <h2>Variables</h2>
    <p>If you need to write some custom scss code there are several scss variables you should use.</p>
    <p>
        To use the variables in your scss code you just need to import the specific file based on your directory structure:
    </p>

    <pre><code class="css js-format-code">
@import "variables";
    </code></pre>

    <a name="colors"></a>
    <h3>Colors</h3>
    <p>The following color variables are defined by the UX-Designer. </p>
    <div class="table-var-wrapper sc-clearfix">
        <table class="docs-table docs-table-variable-color sc-pull-left">
            <thead>
            <tr>
                <th>variable</th>
                <th>value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>$black-120</code></td>
                <td class="text-white" style="background-color: #000;">#000</td>
            </tr>
            <tr>
                <td><code>$black-100</code></td>
                <td class="text-white" style="background-color: #333;">#333</td>
            </tr>
            <tr>
                <td><code>$black-90</code></td>
                <td class="text-white" style="background-color: #4c4c4c;">#4c4c4c</td>
            </tr>
            <tr>
                <td><code>$black-80</code></td>
                <td class="text-white" style="background-color: #646464;">#646464</td>
            </tr>
            <tr>
                <td><code>$black-70</code></td>
                <td class="text-white" style="background-color: #7c7c7c;">#7c7c7c</td>
            </tr>
            <tr>
                <td><code>$black-60</code></td>
                <td style="background-color: #949494;">#949494</td>
            </tr>
            <tr>
                <td><code>$black-50</code></td>
                <td style="background-color: #acacac;">#acacac</td>
            </tr>
            <tr>
                <td><code>$black-40</code></td>
                <td style="background-color: #c4c4c4;">#c4c4c4</td>
            </tr>
            <tr>
                <td><code>$black-30</code></td>
                <td style="background-color: #dcdcdc;">#dcdcdc</td>
            </tr>
            <tr>
                <td><code>$black-20</code></td>
                <td style="background-color: #f4f4f4;">#f4f4f4</td>
            </tr>

            </tbody>
        </table>
        <table class="docs-table docs-table-variable-color sc-pull-left">
            <thead>
            <tr>
                <th>variable</th>
                <th>value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>$blue-110</code></td>
                <td class="text-white" style="background-color: #00264d;">#00264d</td>
            </tr>
            <tr>
                <td><code>$blue-100</code></td>
                <td class="text-white" style="background-color: #003468;">#003468</td>
            </tr>
            <tr>
                <td><code>$blue-90</code></td>
                <td class="text-white" style="background-color: #1e4c7a;">#1e4c7a</td>
            </tr>
            <tr>
                <td><code>$blue-80</code></td>
                <td class="text-white" style="background-color: #3d648c;">#3d648c</td>
            </tr>
            <tr>
                <td><code>$blue-70</code></td>
                <td class="text-white" style="background-color: #5b7c9e;">#5b7c9e</td>
            </tr>
            <tr>
                <td><code>$blue-60</code></td>
                <td style="background-color: #7995b0;">#7995b0</td>
            </tr>
            <tr>
                <td><code>$blue-50</code></td>
                <td style="background-color: #97adc1;">#97adc1</td>
            </tr>
            <tr>
                <td><code>$blue-40</code></td>
                <td style="background-color: #b6c5d3;">#b6c5d3</td>
            </tr>
            <tr>
                <td><code>$blue-30</code></td>
                <td style="background-color: #d4dde5;">#d4dde5</td>
            </tr>
            <tr>
                <td><code>$blue-20</code></td>
                <td style="background-color: #f2f5f7;">#f2f5f7</td>
            </tr>

            </tbody>
        </table>
        <table class="docs-table docs-table-variable-color sc-pull-left">
            <thead>
            <tr>
                <th>variable</th>
                <th>value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>$orange-140</code></td>
                <td class="text-white" style="background-color: #662c00;">#662c00</td>
            </tr>
            <tr>
                <td><code>$orange-130</code></td>
                <td class="text-white" style="background-color: #803700;">#803700</td>
            </tr>
            <tr>
                <td><code>$orange-120</code></td>
                <td class="text-white" style="background-color: #994200;">#994200</td>
            </tr>
            <tr>
                <td><code>$orange-100</code></td>
                <td style="background-color: #ff7500;">#ff7500</td>
            </tr>
            <tr>
                <td><code>$orange-90</code></td>
                <td style="background-color: #ff9133;">#ff9133</td>
            </tr>
            <tr>
                <td><code>$orange-80</code></td>
                <td style="background-color: #ff9a4c;">#ff9a4c</td>
            </tr>
            <tr>
                <td><code>$orange-70</code></td>
                <td style="background-color: #ffac66;">#ffac66</td>
            </tr>
            <tr>
                <td><code>$orange-60</code></td>
                <td style="background-color: #ffba80;">#ffba80</td>
            </tr>
            <tr>
                <td><code>$orange-50</code></td>
                <td style="background-color: #ffc899;">#ffc899</td>
            </tr>
            <tr>
                <td><code>$orange-40</code></td>
                <td style="background-color: #ffd5b0;">#ffd5b0</td>
            </tr>
            <tr>
                <td><code>$orange-30</code></td>
                <td style="background-color: #ffe3cc;">#ffe3cc</td>
            </tr>
            <tr>
                <td><code>$orange-20</code></td>
                <td style="background-color: #fff1e5;">#fff1e5</td>
            </tr>
            </tbody>
        </table>
        <table class="docs-table docs-table-variable-color sc-pull-left">
            <thead>
            <tr>
                <th>variable</th>
                <th>value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>$white</code></td>
                <td class="example-color-white">#fff</td>
            </tr>
            <tr>
                <td><code>$green-light</code></td>
                <td class="example-color-green-light">#e6f5cf</td>
            </tr>
            <tr>
                <td><code>$color-link</code></td>
                <td class="example-color-link">#007CCA</td>
            </tr>
            <tr>
                <td><code>$color-error</code></td>
                <td class="example-color-error">#d91a2a</td>
            </tr>
            <tr>
                <td><code>$color-error-message</code></td>
                <td class="example-color-message">#ffdddc</td>
            </tr>
            <tr>
                <td><code>$color-success</code></td>
                <td class="example-color-success">#217306</td>
            </tr>
            <tr>
                <td><code>$color-success-message</code></td>
                <td class="example-color-success-message">#e6f5cf</td>
            </tr>
            <tr>
                <td><code>$color-info</code></td>
                <td class="example-color-info">#994200</td>
            </tr>
            <tr>
                <td><code>$color-info-message</code></td>
                <td class="example-color-info-message">#fff1c0</td>
            </tr>
            <tr>
                <td><code>$color-tip</code></td>
                <td class="example-color-tip">#1e4c7a</td>
            </tr>
            <tr>
                <td><code>$color-tip-message</code></td>
                <td class="example-color-tip-message">#e4eeff</td>
            </tr>
            <tr>
                <td><code>$color-highlight-info</code></td>
                <td class="example-color-highlight">#33aadd</td>
            </tr>
            </tbody>
        </table>

        <table class="docs-table docs-table-variable-color sc-pull-left">
            <thead>
            <tr>
                <th>variable</th>
                <th>value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>$body-gold</code></td>
                <td class="example-body-color-gold">#f7e994, #d9a600</td>
            </tr>
            <tr>
                <td><code>$body-silver</code></td>
                <td class="example-body-color-silver">#dcdcdc, #acacac</td>
            </tr>
            <tr>
                <td><code>$body-bronze</code></td>
                <td class="example-body-color-bronze">#f7c694, #bf7326</td>
            </tr>
            <tr>
                <td><code>$body-black</code></td>
                <td class="example-body-color-black">#000</td>
            </tr>
            <tr>
                <td><code>$body-gray</code></td>
                <td class="example-body-color-gray">#949494</td>
            </tr>
            <tr>
                <td><code>$body-white</code></td>
                <td class="example-body-color-white">#fff</td>
            </tr>
            <tr>
                <td><code>$body-brown</code></td>
                <td class="example-body-color-brown">#994200</td>
            </tr>
            <tr>
                <td><code>$body-beige</code></td>
                <td class="example-body-color-beige">#dbaf6e</td>
            </tr>
            <tr>
                <td><code>$body-yellow</code></td>
                <td class="example-body-color-yellow">#f7c81e</td>
            </tr>
            <tr>
                <td><code>$body-orange</code></td>
                <td class="example-body-color-orange">#ff7500</td>
            </tr>
            <tr>
                <td><code>$body-red</code></td>
                <td class="example-body-color-red">#d91a2a</td>
            </tr>
            <tr>
                <td><code>$body-violet</code></td>
                <td class="example-body-color-violet">#991289</td>
            </tr>
            <tr>
                <td><code>$body-blue</code></td>
                <td class="example-body-color-blue">#0059b2</td>
            </tr>
            <tr>
                <td><code>$body-green</code></td>
                <td class="example-body-color-green">#38a614</td>
            </tr>
            <tr>
                <td><code>$body-other</code></td>
                <td class="example-body-color-other"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <a name="spacings"></a>
    <h3>Spacings</h3>
    <p>
        There are several variables that should be used for the spacing inside and between elements.
        Use the variables only for the spacing and not for other properties like e.g. font-sizes.
    </p>
    <div class="table-var-wrapper sc-clearfix">
        <table class="docs-table docs-table-variable-spacings sc-pull-left">
            <thead>
            <tr>
                <th>variable</th>
                <th>value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>$XS</code></td>
                <td>4px</td>
            </tr>
            <tr>
                <td><code>$S</code></td>
                <td>8px</td>
            </tr>
            <tr>
                <td><code>$M</code></td>
                <td>12px</td>
            </tr>
            <tr>
                <td><code>$L</code></td>
                <td>16px</td>
            </tr>
            <tr>
                <td><code>$XL</code></td>
                <td>20px</td>
            </tr>
            <tr>
                <td><code>$XXL</code></td>
                <td>28px</td>
            </tr>
            <tr>
                <td><code>$XXXL</code></td>
                <td>40px</td>
            </tr>
            </tbody>
        </table>
    </div>

    <a name="viewports"></a>
    <h3>Viewports</h3>
    <p>
        All responsive elements that are based on media queries use the following breakpoints. These dimension should
        be usefull in most of the cases.
    </p>
    <p>
        Use the following variables <span class="text-bold">instead</span> of variables previously known from showcar-styles
        (<code>$mobile</code>, <code>$tablet</code>, <code>$desktop</code>)
    </p>
    <div class="table-var-wrapper sc-clearfix">
        <table class="docs-table docs-table-variable-viewports sc-pull-left">
            <thead>
            <tr>
                <th>variable</th>
                <th>value</th>
                <th>size, from/to</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>$viewportXS</code></td>
                <td>0</td>
                <td>0 - 320px</td>
            </tr>
            <tr>
                <td><code>$viewportS</code></td>
                <td>321px</td>
                <td>321px - 767px</td>
            </tr>
            <tr>
                <td><code>$viewportM</code></td>
                <td>768px</td>
                <td>768px - 1023px</td>
            </tr>
            <tr>
                <td><code>$viewportL</code></td>
                <td>1024px</td>
                <td>1024px - 1099px</td>
            </tr>
            <tr>
                <td><code>$viewportXL</code></td>
                <td>1100px</td>
                <td>1100px - 1269px</td>
            </tr>
            <tr>
                <td><code>$viewportXXL</code></td>
                <td>1270px</td>
                <td>1270px - ∞</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
