@import "../../../../src/scss/variables.scss";

/* Fixes for showcar ui */
.sc-navigation {
    border: none;
    & nav ul li {
        vertical-align: middle;
    }
}

/* Improvements for showcar ui */
.sc-inline-submit-center {
    width: 40%;
}

.sc-inline-submit {
    margin: 0 auto;
    input[type=button], input[type=submit] {
        width: auto;
    }
}

.sc-stripe {
    background-color: white;
    padding: $XL 0;
    margin: $XL (-$XL);
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.sc-stripe-transparent {
    background-color: transparent;
}

.sc-card {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: $XL;
    height: 100%;
}

.sc-card {
    &.padding {
        padding: $XL;
    }
    & > .description p {
      max-width: 40%;
    }
}

.sc-grid-row {
    margin-bottom: $XL;
    &:last-child {
        margin-bottom: 0;
    }
}

.sc-title {
  margin-top: 2em;
  margin-bottom: .75em;
  &:first-child {
    margin-top: 0;
  }
}

hr {
    clear: both;
}

/*======================================*/

body {
    padding: $XL;
}

@media(min-width: $viewportM) {
    .upper, .lower {
        padding: $XL;
    }
}
@media(max-width: $viewportM) {
    .upper, .lower {
        padding: $L 0 0 $L;
    }
}

.upper, .lower {
  border: 1px solid #8a8a8a;
  background-color: #f8f8f8;
}

.upper {
    border-width: 1px 1px 0 1px;
}

.lower {
    border-width: 0 1px 1px 1px;
}

as24-icon[type="arrow"] svg {
    transform: rotate(180deg);
    height: .5em;
    margin-left: $M;
}

as24-icon[type="t-online"] svg {
    height: $XL;
}

 // .sc-navigation as24-icon > svg {
 //     height: 40px;
 //              background-size: contain;
 // }

.lower {
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    &:after {
        width: 100%;
        height: 8px;
        content: "";
        position: absolute;
        left: 0;
        top: -10px;
        border-radius: 90% / 8px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    }
}
