@import "../../../../src/scss/variables.scss";
@import "../../../../src/scss/mixins/utils.scss";

body {
  background-color: $black-20;
}

.sc-content-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: $white;
  max-width: $viewportXXL;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

/* Fixes for showcar ui */
.sc-navigation {
  border: 0 none;
  & nav ul li {
    vertical-align: middle;
  }
}

*[class^="sc-grid-col"] {
  margin-top: $grid-gutter-width;
}

.sc-stripe {
  background-color: $orange-40;
  margin-left: 0 - $grid-gutter-width;
  margin-right: 0 - $grid-gutter-width;
  margin-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  text-align: center;
}

.sc-stripe-transparent {
  background-color: transparent;
}

.sc-card {
  border: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: $grid-gutter-width;
  text-align: center;
  height: 100%;

  &.padding {
    padding: $grid-gutter-width;
    text-align: justify;
  }

  & > .description p {
    max-width: 40%;
  }
}

.sc-title {
  margin-top: 2em;
  margin-bottom: .75em;
  &:first-child {
    margin-top: 0;
  }
}

.sc-content {
  padding: $grid-gutter-width;
}

hr {
  clear: both;
}

/*======================================*/

@media(max-width: ($viewportM - 1)) {
  body {
    background-color: $blue-40;
  }
  .sc-card {
    margin-left: 0 - $grid-gutter-width;
    margin-right: 0 - $grid-gutter-width;
  }
  .sc-card {
    border: 0 none;
  }
}

as24-icon[type="arrow"] svg {
  transform: rotate(180deg);
  height: .5em;
  margin-left: $grid-gutter-width;
}
