---
title: Spinners
nav-index: 7
---
<div>
    <a name="spinners"></a>
    <h2>Loading spinners</h2>

    <div class="sc-absolute-center" style="height: 100px; background: grey;">
      <div class="sc-spinner-loading"></div>
      <div class="sc-spinner-loading orange"></div>
      <div class="sc-spinner-loading grey"></div>
    </div>

    <pre><code class="html js-format-code">
<!--
<div class="sc-absolute-center">
  <div class="sc-spinner-loading"></div>
  <div class="sc-spinner-loading orange"></div>
  <div class="sc-spinner-loading grey"></div>
</div>
-->
    </code></pre>
</div>
