@import "mixins/ad";

// viewports
// ----------------------------
//$viewportXS: 0; // 0 - 320
//$viewportS: 321px; // 321 - 767
//$viewportM: 768px; // 768 - 1023
//$viewportL: 1024px; // 1024 - 1099
//$viewportXL: 1100px; // 1100 - 1269
//$viewportXXL: 1270px; // 1270 - ∞

.has-ad-skyscraper-right {
    //margin-right: 300px;
}

.sc-superbanner {
    display: none;

    // show whole fireplace at 1440px
    @include mqmin($viewportFireplace) {
        @include sc-topbanner();
    }
}

.sc-skyscraper-left {
    display: none;

    // show whole fireplace at 1440px
    @include mqmin($viewportFireplace) {
        @include sc-skyscraper();
        left: -170px;
    }
}

.sc-skyscraper-right {
    display: none;

    // show whole fireplace at 1440px
    @include mqmin($viewportFireplace) {
        @include sc-skyscraper();
        right: -170px;
        display: block;
    }
}
