@import "../../../susy/sass/susy";
@import "mixins/utils";
@import "variables";

.content-container {
  @include container;
  position: relative;

  // 1100px - 1440px
  @include mqminmax($grid-max-width, $grid-max-width + 2 * $side-ad-width + 2 * $gap-between-ad-and-grid) {
    margin: 0;
  }
}

.grid-row {
  @include clearfix;
  $negativMargin: percentage(map-get($susy, gutters) / susy-sum(map-get($susy, columns), map-get($susy, gutters), wide)) / 2;
  margin-left: -$negativMargin;
  margin-right: -$negativMargin;

  > *:empty {
    min-height: 1px;
  }

  @for $i from 1 through 12 {
    .grid-col-#{$i} {
      @include span($i);
    }

    //xl viewport
    @include mqmin($viewportXL) {
      .grid-col-xl-#{$i} {
        @include span($i);
      }
    }
    //l viewport
    @include mqmax($viewportXL - 1) {
      .grid-col-l-#{$i} {
        @include span($i);
      }
    }
    //m viewport
    @include mqmax($viewportL - 1) {
      .grid-col-m-#{$i} {
        @include span($i);
      }
    }
    //s viewport
    @include mqmax($viewportM - 1) {
      .grid-col-s-#{$i} {
        @include span($i);
      }
    }
  }
}
