nav {
    transition: max-height 0.5s ease-out;
    max-height: 0;
    overflow: hidden;
    & > ul {
        padding: $M $L $L;
        border-top: 1px solid $black-30;
    }
    hr {
        margin: $S 0;
    }
    a {
        display: block;
        padding: $S 0;
        text-decoration: none;
        @include link(M, $variant: black);
    }
    li ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
    li.open ul {
        max-height: 2000px;
    }
    li ul a {
        margin-left: $XL;
    }
    span.subnav-title {
        cursor: pointer;
        padding: $S 0;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            margin-top: 6px;
            width: 12px;
            height: 12px;
            background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M16.363%206.11L10%2012.476%203.636%206.11l-.707.708%206.363%206.364.707.707.707-.708%206.363-6.364z%22%2F%3E%3C%2Fsvg%3E");
            background-position: center center;
            background-repeat: no-repeat;
            transform: rotate(0deg);
            transition: transform 0.4s;
            color: $orange-100;
        }
    }
    > ul {
        border: none;
    }
    > hr {
        margin: 0 16px;
    }
    ul {
        li.open {
            span.subnav-title {
                color: $orange-100;
                &:after {
                    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23ff7500%22%20d%3D%22M16.363%206.11L10%2012.476%203.636%206.11l-.707.708%206.363%206.364.707.707.707-.708%206.363-6.364z%22%2F%3E%3C%2Fsvg%3E");
                    transform: rotate(180deg);
                    transition: transform 0.4s;
                }
            }
        }
    }
    &:hover,
    &:active,
    &:focus {
        li:hover {
            cursor: pointer;
            span.subnav-title {
                color: $orange-100;
                &:after {
                    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23ff7500%22%20d%3D%22M16.363%206.11L10%2012.476%203.636%206.11l-.707.708%206.363%206.364.707.707.707-.708%206.363-6.364z%22%2F%3E%3C%2Fsvg%3E");
                }
            }
        }
    }
}
&.open {
    nav {
        max-height: 2200px;
        transition: max-height 0.5s ease-in;
    }
}
@media screen and (max-width: 922px) {
    nav {
        .subnav-title {
            display: inline-block;
            width: 100%;
        }
        .myaccount .subnav-title {
            display: none;
        }
    }
}
@media screen and (min-width: 923px) {
    nav {
        position: relative;
        max-height: 1px;
        overflow: visible;
        padding-left: 144px;
        & > ul {
            padding: 0;
        }
        span.subnav-title {
            padding: 0;
            &:after {
                right: -20px;
            }
        }
        > ul > li > a {
            padding: 0;
        }
        > hr {
            display: none;
        }
        ul {
            position: absolute;
            top: -70px;
            border: none;
            margin-left: -24px;
            max-height: 0;
            ul {
                transition: none;
            }
            li {
                display: inline-block;
                padding: 24px 48px 24px 24px;
                a:hover,
                a:active,
                a:focus {
                    color: $orange-100;
                }
            }
            li.open {
                box-sizing: border-box;
                border: 1px solid $black-30;
                border-width: 0 1px;
                position: relative;
                margin: 0 -1px;
                .login-teaser {
                    position: absolute;
                    max-width: 100px;
                }
                .btn-login {
                    margin-top: $XXXL;
                }
                span.subnav-title {
                    color: $orange-100;
                }
                &:before {
                    content: '';
                    height: 2px;
                    background-color: white;
                    width: 100%;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    z-index: 100;
                }
                > ul {
                    transition: max-height 1s ease-out;
                    max-height: 1000px;
                    background-color: white;
                    top: 70px;
                    border: 1px solid $black-30;
                    left: 0;
                    margin-left: -1px;
                    margin-right: -1px;
                    padding: 12px 24px;
                    li {
                        float: none;
                        display: block;
                        padding: 0;
                        a {
                            white-space: nowrap;
                            margin: 0;
                        }
                    }
                }
                ul.submenu {
                    white-space: nowrap;
                    > li {
                        ul {
                            position: static;
                            a {
                                margin-left: 0;
                            }
                            li:first-child {
                                padding: 8px 0;
                            }
                        }
                        vertical-align: top;
                        display: inline-block;
                        margin-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}
