@import "mixins/utils";
@import "mixins/ellipsis";

.clearfix {
  @include clearfix;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}


.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ellipsis {
  @include ellipsis();
}

.hidden {
  display: none;
}
.visible {
  display: initial;
}
//xl viewport
@include mqmin($viewportXL) {
  .hidden-xl {
    display: none;
  }
  .visible-xl {
    display: initial;
  }
}
//l viewport
@include mqmax($viewportXL - 1) {
  .hidden-l {
    display: none;
  }
  .visible-l {
    display: initial;
  }
}
//m viewport
@include mqmax($viewportL - 1) {
  .hidden-m {
    display: none;
  }
  .visible-m {
    display: initial;
  }
}
//s viewport
@include mqmax($viewportM - 1) {
  .hidden-s {
    display: none;
  }
  .visible-s {
    display: initial;
  }
}


