// colors
// ----------------------------
$white: #fff;

$black-100: #333;
$black-90: #4c4c4c;
$black-80: #646464;
$black-70: #7c7c7c;
$black-60: #949494;
$black-50: #acacac;
$black-40: #c4c4c4;
$black-30: #dcdcdc;
$black-20: #f4f4f4;

$blue-100: #003468;
$blue-90: #1e4c7a;
$blue-80: #3d648c;
$blue-70: #5b7c9e;
$blue-60: #7995b0;
$blue-50: #97adc1;
$blue-40: #b6c5d3;
$blue-30: #d4dde5;
$blue-20: #f2f5f7;

$green-light: #e6f5cf;

$orange-100: #ff7500;
$orange-90: #ff9133;
$orange-80: #ff9a4c;
$orange-70: #ffac66;
$orange-60: #ffba80;
$orange-50: #ffc899;
$orange-40: #ffd5b0;
$orange-30: #ffe3cc;
$orange-20: #fff1e5;

$color-link: #007CCA;

$color-error: #B80000;
$color-error-message: #ffdddc;
$color-success: #196600;
$color-success-message: #e6f5cf;
$color-info: #853900;
$color-info-message: #fff1c0;
$color-tip: #264c83;
$color-tip-message: #e4eeff;

$color-highlight-info: #33aadd;
$color-error-text: #d51500;

// spacings
// ----------------------------
$XS: 4px;
$S: 8px;
$M: 12px;
$L: 16px;
$XL: 20px;
$XXL: 28px;
$XXXL: 40px;

// viewports
// ----------------------------
$viewportXS: 0; // 0 - 320
$viewportS: 321px; // 321 - 767
$viewportM: 768px; // 768 - 1023
$viewportL: 1024px; // 1024 - 1099
$viewportXL: 1100px; // 1100 - 1269
$viewportXXL: 1270px; // 1270 - ∞

$viewportFireplace: 1440px;

//old viewport variables for compatibility, please use $viewportX instead
$mobile: $viewportS;
$tablet: $viewportM;
$desktop: $viewportL;

// sizes
// ----------------------------
$form-border-radius: 4px;

// susy
// ----------------------------
$susy-grid-background: hide !default; // can be "show" as well
$gutter-width: 16px;
$grid-column-width: 77px;
$grid-max-width: $gutter-width * 11 + $grid-column-width * 12;
$side-ad-width: 160px;
$gap-between-ad-and-grid: 10px;

$susy: (
        columns: 12,
        global-box-sizing: border-box,
        gutters: $gutter-width / $grid-column-width,
        gutter-position: split,
        container: $grid-max-width,
        debug: (
                image: $susy-grid-background,
        )
);
